@font-face{
  font-family: QuickSand;
  src: url("/static/font/quicksand/Quicksand_Book.otf");
}

@font-face{
  font-family: QuickSand;
  src: url("/static/font/quicksand/Quicksand_Bold.otf");
  font-weight: bold;
}

@font-face{
  font-family: QuickSand;
  src: url("/static/font/quicksand/Quicksand_Book_Oblique.otf");
  font-style: italic;
}

@font-face{
  font-family: QuickSand;
  src: url("/static/font/quicksand/Quicksand_Book_Bold_Oblique.otf");
  font-style: italic;
  font-weight: bold;
}


.nav a {
  color:white;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}


.nav {
  color:white;
  margin-bottom: 90px;
}

.logo-left {
  width: 120px;
  height: 30px;
  background-color: none;
  position: relative;
  top: -320px;
  left: -120px;
  border-top-right-radius: 23px;
  border-right: 3px solid #F5AB35;
  border-top: 3px solid #f5ab35;
}

.logo-fill-left {
  position: relative;
  left: -20px;
  top: -281px;
  background: -webkit-gradient(radial, 0% 78.3%, 10, 49% 100%, 6.1, from(#404040), to(#404040));
  background: radial-gradient(circle at 0% 100%, rgba(0,0,0,0), 18px, #404040 15px);
  width: 64px;
  height: 150px;
}

.logo-fill-right {
  position: relative;
  left: 250px;
  top: -131px;
  background: -webkit-gradient(radial, 65% 100%, 0, 100% 59%, 30,  from(#404040), to(#404040));
  background: radial-gradient(circle at 100% 100%, rgba(0,0,0,0), 18px, #404040 15px);
  width: 64px;
  height: 150px;
}

.collapse-nav {
  top: -15px;
}

.collapse-logo {
  position: absolute;
  top: -6px;
  left: 0;
  z-index: 1;
  height: 117px;
}

.collapse-logo img{ 
  max-height: 117px;
}

.pull-left {
  position: absolute;
  top: 2.5em;
  left: 1em;
  z-index: 2;
}

.pull-right {
  position: absolute;
  top: 2.5em;
  right: 1em;
}

.navbar {
  border-radius: 0;
}
.logo-right {
  width: 120px;
  height: 30px;
  background-color: none;
  position: relative;
  top: -350px;
  left: 294px;
  border-top-left-radius: 22px;
  border-left: 3px solid #F5AB35;
  border-top: 3px solid #f5ab35;
}


.logo img {
  margin-top: -655px;
  max-height: 200px;
  z-index: 0;
}

.logo {
  height: 90px;
  width: 300px;
  background-color: #404040;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 3px solid #f5ab35;
  border-top: none;
  margin: 112px auto 0 auto;
}

.nav li {
  display: inline;
}

#header {
    clear: both;
    background-color: #404040;
    height: 120px;
    border-bottom: 3px solid #f5ab35;
}

.nav-sep {
  margin-bottom: 0.7em;
  margin-top: 0;
} 

.sub-footer {
	margin-top: 2.5em;
	margin-left: 5px;
	margin-right: 5px;
	border-top: solid 1px #ede9dd;
	background-color: rgba(206,229,159, 0.83);
}

#news {
	padding-left: 25px;
}

#learn {
	padding-left: 25px;
}

.sub-footer .container {
	margin: 0 auto;
	padding: 20px 0;
}

.column, .columns {
	float: left;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#footer {
    clear: both;
    background-color: #404040;
    width:100%;
}

#instagram {
    height: 63px;
    width: 63px;
    margin-right: 20px;
}

#facebook {
    height: 76px;
    width: 76px;
}

#twitter {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.center {
    text-align: center;
}

.wrap {
  min-height:100%;
  margin-bottom: -79px;
}

#footer {
  border-top: 3px solid #f5ab35;
}

.push {
  height: 77px;
}

html, body {
  height: 100%;
  font-family: QuickSand, sans-serif;
}

body {
  background-color: white;
}
/*
#back {
  background-color: white;
  position:absolute;
  bottom: 79px;
  top: 0px;
}*/

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.tray-total {
    font-weight: normal;
    color: white;
    background-color: #f00;
    border-radius: 50px; 
    padding: 0.5em;
    visibility: hidden;
}

.omni-yellow {
  background-color: #f5ab35;
  color: white;
}

.omni-button {
  border-radius: 2px;
}
