.first {
  background-color: white;
}

.second {
  background-color: rgba(245, 171, 53, 0.25);
}

.checkout-row {
  padding: 1em;
}

.checkout {
  max-width: 450px;
  margin: 0 auto;
  padding-top: 1em;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.space {
  margin-top: 2em;
}

.third {
  background-color: #f5ab35;
  color: white;
}

.checkout h1 {
  margin: 1em;
}

.pay-wrap {
  text-align: center;
}
.paynow {
  font-size: 200%;
  width: 100%;
  text-align: center;
  margin: 0em auto 1.5em auto;
  background-color: rgba(132, 189, 15, 1.0);
  color: white;
}

.paynow :hover {
  color: #404040;
}

.paynow :visited:hover {
  color: #ade;
}

.paynow a:visited {
  color: white;
}

.credit {
  padding: 2em;
  text-align: center;
}

.explain {
  margin-bottom: 2em;
  padding: 2em;
}


.remove {
  margin: 0 auto;
  width: 34px;
  height: auto;
  border-radius: 28px;
  background-color: #f5ab35;
  color: white;
}

.location {
  text-align: center;
}

.center {
  text-align: center:
}

.left { 
  text-align: left;
}

.add-location {
  width: 350px;
  margin: 0 auto;
}

.inputs {
  padding: 1em;
}

.save {
  margin: 1.75em auto auto 0;
}

input {
  width: 100%;
  border: none;
  padding: 1em;
  border-bottom: 1px solid #f5ab35;
}

.prompt {
  color: #404040;
  font-weight: bold;
} 

textarea {
  border: solid 0px #f5ab35;
  max-width: 100%;
  height: 5em;
}

.center-div {
  margin: 0 auto;
  width: 20px;
}

.summary {
  font-weight: bold;
} 

.charcoal-text {
  color: #404040;
}

body {
  color: #404040;
}
