.about-us h3 {
	text-align: center;
  color: #404040;
  opacity: 0.83;
  padding-top: 20px;
  padding-bottom: 37px;
}

h5 {
  color: #f5ab35;
  font-weight: bold;
  text-align: left;
}

p {
  text-align: left;
  color: #404040;
}

.thumbnail {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #383535;
	border-radius: 18px;
	border: 4px solid green;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 250px;
	margin-left: 250px;
}

.questions {
  margin: 0 auto;
  min-width: 250px;
  max-width: 50%;
  padding-bottom: 20px;
}

