.jumbotron {
    border: 5px solid #053E25;
  background-image:url('http://i1345.photobucket.com/albums/p668/samanthajaybee/fetchc_zps731t87st.png');
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 0px 5px 6px 2px #504C4C;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.signform {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 0px 5px 6px 2px #383535;
  border-radius: 18px;
  border: 4px solid green;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 350px;
  margin-left: 350px;
  background-color: #F5FFEB;
}

form {
  padding: 25px;
}