.jumbo {
  background-image: url('/static/img/burger.png');
  background-size:cover;
  margin-top:-100px;
  padding-top: 100px;
}

.j-filt { 
  margin-top: -100px;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.6);
}

.intro {
  padding: 1em 1em 2em 1em;
  max-width: 70%;
  margin: auto;
  color: white;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 2px 2px #333;
}

.center {
  text-align: center;
}

.sub {
  color: white;
  font-weight: normal;
  line-height: 115%;
  max-width: 70%;
  margin: 1em auto;
  font-size: 70%;
  text-shadow: 1px 1px #000;

}

.testimonials {
  text-align: center;
  padding-top: 1em;
}

.testimonial {
  font-size: 150%;
  font-weight: none;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.sig {
  font-size: 90%;
  font-style: italic;
}

.testimonial-block {
  max-width: 350px;
  margin: 1em auto;
}
.cta {
  font-size: 200%;
  color: white;
  margin: 0 1em;
}

.second p {
  font-weight: bold;
}


.second {
  margin: 1.2em 2em 0 0;
}

.section {
  margin: 0em 2em 0 0;
  padding: 1em;
  width: 100%;
  background-color: #404040;
  border-top: 3px solid #FDC82F;
  border-bottom: 3px solid #FDC82F;
  text-align: center;
}

.second-wrap {
  display:inline;
  margin: 0 auto;
  text-align: center;
}


.franchise {
  text-align: center;
  text-transform:center;
  font-size: 300%;
  margin: 0.3em auto;
  width: 350px;
  border-radius: 100px;
}

#timhortons {
  font-style: italic;
  font-size: 400%;
  color: #D82125;
  border: 3px solid #D82125;
  background-color: #FCF2AA;
}

#mcdonalds {
  border: 3px solid #FDC82F;
  background-color: #D52B1E;
  width: 250px;
  margin: 1em auto;
}

#tacobell {
  font-size:400%;
  line-height:85%;
  width:200px;
  border: 3px solid white;
  color: white;
  border-radius: 0;
  background-color: #412C79;
  padding: 0.25em;
}
