#menu {
  margin: 1em;
}
#mclogo {
	text-align: center;
}

#mclogo img {
	text-align: center;
	height: 16%;
	width: 16%;
	margin-top: 35px;
	margin-bottom: 65px;
}

h4 {
	text-align: center;
	font-weight: bold;
	font-family: Arial;
	font-size: 32px;
	margin-bottom: 20px;
}

.thumbnail #sand_meals {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail #beverages {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail #salads {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail #desserts_sides {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail h2 {
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.thumbnail {
  padding: 1em;
}

