.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99990;
	opacity:0;
	-webkit-transition: opacity 50ms ease-in;
	-moz-transition: opacity 50ms ease-in;
	transition: opacity 50ms ease-in;
	pointer-events: none;
}

.modalDialog h2 {
	margin-bottom: 13px;
	margin-top: 17px;
}

.modalDialog .prod_info h3 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-top: 12px;
	color: black;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.item-name {
  margin-top: 1em;
  font-size: 150%;
}

.modalDialog > div {
	max-width: 425px;
	position: relative;
	margin: 2em auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}

.modalDialog img {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
  max-width: 180px;
  max-height: 120px;
}

.requests p {
	text-align: center;
  font-size: 100%;
}

.requests textarea {
	border: solid 1.5px green;
  max-width: 100%;
}

.quantity {
  padding:0.5em;
  font-size: 100%;
}

.close {
	background: #000000;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #053E25; 
	color: white;
}

.tray {
	width: 150px;
	height: 38px;
  background-color: rgba(132,189,15, 0.83);
  color: white;
  margin: 1em;
}

.innerModal {
  text-align: center;
}

.combo select {
  width: 50%;
}
