.signform {
  margin: auto;
  width: 300px;
  padding-top: 4em;
  padding-bottom: 4em;
}

.signform input {
  width: 300px;
  border: none;
  padding: 1em;
  border-bottom: 1px solid #f5ab35;
}

.prompt {
  color: #404040;
  font-weight: bold;
}

.submit {
  border: none;
  background-color: #f5ab35;
  color: white;
}

.link {
  margin-top: 0.5em;
  width: 49%;
}
