
.bcx_container.bcx_overlay{
	top:0;
	left:0;
	overflow:hidden;
	width:100%;
	height:100%;
	z-index:2147483645;
}	

.bcx_middle_fix{
	top:0;
	left:0;
	position:absolute;
	width:100%;
	height:100%;
}

.bouncex_lightbox{
	/*position:relative;*/
	width:100%;
	height:100%;
	/*z-index:2147483645;*/
	opacity: 0;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.bouncex_header_top,.bouncex_header_bottom,.bcx_container.bcx_overlay{
	position:fixed;
	filter:inherit;/*ie8 transparency fix?   */
}

.bouncex_header_top,.bouncex_header_bottom{
	width:100%;
	z-index:2147483644;
}

#bcx_power{
	position:absolute;
	bottom:20px;
	left:20px;
	z-index:2147483646;
	color:#fff !important;
}

#bcx_power a {
	color: #ffffff !important;
	font-size: 15px;
	font-family: 'Segoe UI','Open Sans','Helvetica Neue',Helvetica, Arial;
	text-decoration: none;
}

#bcx_power a span {
	color: #fff !important;
	font-size: 15px;
	font-family: 'Segoe UI','Open Sans','Helvetica Neue',Helvetica, Arial;
	text-decoration: none;
}


	#bcx_power a span{
		text-decoration:underline;
	}

.bouncex_header_top{
	top:0;
}

.bouncex_header_top, .bouncex_header_bottom{
	left:0;
}
	.bouncex_header_top.bcx_middle, .bouncex_header_bottom.bcx_middle{
		top:50%;
	}
	.bouncex_header_top.right, .bouncex_header_bottom.right{
		right:0;
		left:auto;
	}
	.bouncex_header_top.center .bcx_inner, .bouncex_header_bottom.center .bcx_inner{
		margin: 0 auto;
	}
	.bouncex_header_top.left_content,.bouncex_header_bottom.right_content,.bouncex_header_bottom.left_content,.bouncex_header_top.right_content{
		left:50%;
		right:auto;
	}
.bouncex_middle{
	position:absolute;
	top:50%;
	left:50%;
	z-index:2147483645;
}
.bcx_callout{
	position:absolute;
	z-index:2147483643;
}
.bouncex_header_bottom{
	bottom:0;
}


a.bouncex_close{ 
	width:34px;
	height:34px;
	display:block;
	
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2147483647;
	background: transparent url("https://assets.bounceexchange.com/assets/global/images/close.png") no-repeat 0 0;
}

.bouncex_close{
	margin: -25px;
}
	.bcx_close_overlay{
		margin:-15px;
	}
	a.bouncex_close.bcx_close_modern{
		margin: 0.65em;
		padding: 4px;
		background-size: 50% 50%;
		background-position:50% 50%;
		border: 1px solid transparent;
		box-sizing: content-box;
	}
	a.bouncex_close.bcx_close_modern:after{
		content: url("https://assets.bounceexchange.com/assets/uploads/users/279/3zsHvZVu.png");
		display:none;
	}
	a.bouncex_close.bcx_close_modern:hover{
		background-color: #e79792;
 		border-radius: 50%;
  		background-image: url("https://assets.bounceexchange.com/assets/uploads/users/279/3zsHvZVu.png");
	}
	a.bouncex_close.size_50{
		width:17px;
		height:17px;
		background-image: url("https://assets.bounceexchange.com/assets/global/images/close50.png");
	}
	a.bouncex_close.size_50.bcx_close_modern{
		width:8.5px;
		height:8.5px;
	}
	a.bouncex_close.size_75{
		width:26px;
		height:26px;
		background-image: url("https://assets.bounceexchange.com/assets/global/images/close75.png");
	}

	a.bouncex_close.size_75.bcx_close_modern{
		width:13px;
		height:13px;
	}
	a.bouncex_close.size_100.bcx_close_modern{
		width:17px;
		height:17px;
	}
	
	a.bouncex_close.size_150{
		width:51px;
		height:51px;
		background-image: url("https://assets.bounceexchange.com/assets/global/images/close150.png");
	}
	a.bouncex_close.size_150.bcx_close_modern{
		width:25.5px;
		height:25.5px;
	}
	a.bouncex_close.size_200{
		width:68px;
		height:68px;
		background-image: url("https://assets.bounceexchange.com/assets/global/images/close200.png");
	}
	a.bouncex_close.bcx_close_black{
		background-image: url("//assets.bounceexchange.com/assets/global/images/close-black.png");
	}
	a.bouncex_close.bcx_close_gray, a.bouncex_close.bcx_close_fill{
		background-image: url("//assets.bounceexchange.com/assets/global/images/close-gray.png");
	}
	a.bouncex_close.bcx_close_white{
		background-image: url("//assets.bounceexchange.com/assets/global/images/close-white.png");
	}
	
	a.bouncex_close.bcx_close_fill{
		background-color: #e4e4e4;
 		border-radius: 50%;
	}
	a.bouncex_close.size_200.bcx_close_modern{
		width:34px;
		height:34px;
	}
	a.bouncex_close.bcx_close_header_top,a.bouncex_close.bcx_close_header_bottom{
		top:5px;
		right:5px;
		margin:0;
	}

	a.bouncex_close.bcx_close_overlay.top_left,a.bouncex_close.bcx_close_header_top.left, a.bouncex_close.bcx_close_header_bottom.left,a.bouncex_close.bcx_close_header_top.left_content,a.bouncex_close.bcx_close_header_bottom.left_content{
		left:5px;
	}
.bcx_container{
	display:none;
}
	.bcx_container img, .bcx_container a{
		border:0 none;
	}
	.bcx_container .bcx_inner{
		position:relative;
		width:100%;
		height:100%;
	}
		.bcx_container .bcx_inner .bcx_ie_fix{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:10px;
			z-index:5;
			background-image:url(about:blank);
			display:block;
			/*display:block \20;*/
		}
	.bcx_container .bcx_inner iframe{
		overflow:hidden;
		z-index:1;
		top:0;
		left:0;
		width:100%;
		height:100%;
		position:absolute;
		
	}

/*form*/
.bcx_container.bcx_overlay form,.bcx_container.bcx_overlay input,.bcx_container.bcx_overlay select,.bcx_container.bcx_overlay button{
	margin:0;
	padding:0;
	border:none;
	background:none;
}

.bouncex_abs_error{
	position:absolute;
	color:#ff1919;
	z-index:999999;
	font-size:12px;
	font-style: normal;
	font-family: sans-serif;
	font-weight: 500;
}	

.bcx_container iframe{
	width: 100%!important;
	height: 100%!important;
	padding: 0!important;
}

/*iframe*/
.bcx_el select:focus option{
	color:#000;/*ie, ff fix for white color dd*/
}
#bcx_frame_body{
	margin:0;padding:0;overflow:hidden;
}
	#bcx_frame_body img,#bcx_frame_body a{
		border:none;
	}
	/*form 2.0*/
	#bcx_form{
		position:relative;
	}
		#bcx_form .wmode{
			position:absolute;
		}
			#bcx_form .form_slide{
				position:relative;
				width:100%;
				height:100%;
			}	
	#bcx_form .wmode.wafter{
		
		display:none;
	}
	.bcx_el.dd select option:hover{
		background-color:#eee!important;
	}
	.bcx_el input:focus{
		outline:none;
	}

	.bcx_el select::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.bcx_el select::-webkit-scrollbar:vertical {
		width: 11px;
	}

	.bcx_el select::-webkit-scrollbar:horizontal {
		height: 11px;
	}

	.bcx_el select::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 2px solid white; /* should match background, can't be transparent */
		background-color: rgba(0, 0, 0, .5);
	}

	.bcx_el select::-webkit-scrollbar-track { 
		background-color: #fff; 
		border-radius: 8px; 
	} 
/*richiemation*/
/*overlay*/
.wmode { 
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transform: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.bcx_fslide .wmode{
	left:100%;
}
.bcx_fslide .wmode.wbefore{
	left:0;
}	
.bcx_ffade .wmode{
	opacity:0.25;
}
.bcx_ffade .wmode.wbefore{
	opacity:1;
}



.bcx_rrotate,.bcx_rv3dflip,.bcx_rh3dflip,.bcx_r3dsign,.bcx_r3dslit,.bcx_r3dbrotate,.bcx_r3dlrotate,.bcx_rslidefall,.bcx_rfall{
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}
.bcx_rblur .bcx_outer {
	-webkit-transform: translateY(-5%);
	-moz-transform: translateY(-5%);
	-ms-transform: translateY(-5%);
	transform: translateY(-5%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.bcx_rblur.bcx_after .bcx_outer {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}


.bcx_r3dlrotate .bcx_outer{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	transform-origin: 0 100%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.bcx_r3dlrotate.bcx_after .bcx_outer{
	-webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	transform: translateZ(0px) translateX(0%) rotateY(0deg);
	opacity: 1;
}
.bcx_r3dbrotate .bcx_outer{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateY(100%) rotateX(90deg);
	-moz-transform: translateY(100%) rotateX(90deg);
	-ms-transform: translateY(100%) rotateX(90deg);
	transform: translateY(100%) rotateX(90deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	transform-origin: 0 100%;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.bcx_r3dbrotate.bcx_after .bcx_outer{
	-webkit-transform: translateY(0%) rotateX(0deg);
	-moz-transform: translateY(0%) rotateX(0deg);
	-ms-transform: translateY(0%) rotateX(0deg);
	transform: translateY(0%) rotateX(0deg);
	opacity: 1;
	
}

.bcx_r3dslit .bcx_outer {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-3000px) rotateY(90deg);
	-moz-transform: translateZ(-3000px) rotateY(90deg);
	-ms-transform: translateZ(-3000px) rotateY(90deg);
	transform: translateZ(-3000px) rotateY(90deg);
	opacity: 0;
}

.bcx_r3dslit.bcx_after .bcx_outer {
	-webkit-animation: slit .7s forwards ease-out;
	-moz-animation: slit .7s forwards ease-out;
	animation: slit .7s forwards ease-out;
}

@-webkit-keyframes slit {
	50% { -webkit-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -webkit-animation-timing-function: ease-out;}
	100% { -webkit-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@-moz-keyframes slit {
	50% { -moz-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -moz-animation-timing-function: ease-out;}
	100% { -moz-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@keyframes slit {
	50% { transform: translateZ(-250px) rotateY(89deg); opacity: 1; animation-timing-function: ease-in;}
	100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
}


.bcx_rjustme .bcx_outer  {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: transparent;
}
.bcx_rjustme.bcx_after .bcx_outer  {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.bcx_r3dsign .bcx_outer {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-60deg);
	-moz-transform: rotateX(-60deg);
	-ms-transform: rotateX(-60deg);
	transform: rotateX(-60deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.bcx_r3dsign.bcx_after .bcx_outer {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
}


.bcx_rv3dflip .bcx_outer {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-70deg);
	-moz-transform: rotateX(-70deg);
	-ms-transform: rotateX(-70deg);
	transform: rotateX(-70deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}
.bcx_rv3dflip.bcx_after .bcx_outer {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
}

.bcx_rh3dflip .bcx_outer {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-70deg);
	-moz-transform: rotateY(-70deg);
	-ms-transform: rotateY(-70deg);
	transform: rotateY(-70deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}
.bcx_rh3dflip.bcx_after .bcx_outer {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	opacity: 1;
}

.bcx_rslidefall .bcx_outer {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate(30%) translateZ(600px) rotate(10deg); 
	-moz-transform: translate(30%) translateZ(600px) rotate(10deg);
	-ms-transform: translate(30%) translateZ(600px) rotate(10deg);
	transform: translate(30%) translateZ(600px) rotate(10deg); 
	opacity: 0;
}
.bcx_rslidefall.bcx_after .bcx_outer {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transform: translate(0%) translateZ(0) rotate(0deg);
	-moz-transform: translate(0%) translateZ(0) rotate(0deg);
	-ms-transform: translate(0%) translateZ(0) rotate(0deg);
	transform: translate(0%) translateZ(0) rotate(0deg);
	opacity: 1;
}

.bcx_rfall .bcx_outer {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(600px) rotateX(20deg); 
	-moz-transform: translateZ(600px) rotateX(20deg); 
	-ms-transform: translateZ(600px) rotateX(20deg); 
	transform: translateZ(600px) rotateX(20deg); 
	opacity: 0;
}
.bcx_rfall.bcx_after .bcx_outer{
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transform: translateZ(0px) rotateX(0deg);
	-moz-transform: translateZ(0px) rotateX(0deg);
	-ms-transform: translateZ(0px) rotateX(0deg);
	transform: translateZ(0px) rotateX(0deg); 
	opacity: 1;
}

.bcx_rsuperscale .bcx_outer {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.bcx_rsuperscale.bcx_after .bcx_outer{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.bcx_rfadescale .bcx_outer {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.bcx_rfadescale.bcx_after .bcx_outer{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
 
.bcx_rrslide .bcx_outer{
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.bcx_rrslide.bcx_after .bcx_outer {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

.bcx_rbslide .bcx_outer{
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.bcx_rbslide.bcx_after .bcx_outer {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.bcx_rnews .bcx_outer{
	-webkit-transform: scale(0) rotate(720deg);
	-moz-transform: scale(0) rotate(720deg);
	-ms-transform: scale(0) rotate(720deg);
	transform: scale(0) rotate(720deg);
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.bcx_rnews.bcx_after .bcx_outer {
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
	opacity: 1;
}

.bcx_rgen .bcx_outer {
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}

.bcx_rgen.bcx_after .bcx_outer {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);

	opacity: 1;
}
.bcx_rscale .bcx_outer {
	-webkit-transform: scale(4);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.bcx_rscale.bcx_after .bcx_outer {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.bcx_rrotate .bcx_outer{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	transform-origin: 0 100%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.bcx_rrotate.bcx_after .bcx_inner{
	-webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	transform: translateZ(0px) translateX(0%) rotateY(0deg);
	opacity: 1;
}
.bcx_rslide .bcx_inner{
	display:none;
}
.bcx_rslide.bcx_after .bcx_inner{
	display:block;
	animation: animationFrames ease 1s;
	animation-iteration-count: 1;
	transform-origin: ;
	animation-fill-mode:forwards; /*when the spec is finished*/
	-webkit-animation: animationFrames ease 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: ;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	-moz-animation: animationFrames ease 1s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: ;
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation: animationFrames ease 1s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: ;
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation: animationFrames ease 1s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: ;
	-ms-animation-fill-mode:forwards; /*IE 10+*/
}
.bcx_rrrslide .bcx_inner{
	display:none;
}
.bcx_rrrslide.bcx_after .bcx_inner{
	display:block;
	animation: animationFramesRight ease 1s;
	animation-iteration-count: 1;
	transform-origin: ;
	animation-fill-mode:forwards; /*when the spec is finished*/
	-webkit-animation: animationFramesRight ease 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: ;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	-moz-animation: animationFramesRight ease 1s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: ;
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation: animationFramesRight ease 1s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: ;
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation: animationFramesRight ease 1s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: ;
	-ms-animation-fill-mode:forwards; /*IE 10+*/
}
@keyframes animationFrames{
  0% {
    left:-1500px;
    top:0px;
    opacity:0;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    left:30px;
    opacity:1;
  }
  80% {
    left:-10px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    left:-1500px;
    top:0px;
    opacity:0;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    left:30px;
    opacity:1;
  }
  80% {
    left:-10px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    left:-1500px;
    top:0px;
    opacity:0;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    left:30px;
    opacity:1;
  }
  80% {
    left:-10px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    left:-1500px;
    top:0px;
    opacity:0;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    left:30px;
    opacity:1;
  }
  80% {
    left:-10px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    left:-1500px;
    top:0px;
    opacity:0;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    left:30px;
    opacity:1;
  }
  80% {
    left:-10px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}


@keyframes animationFramesRight{
  0% {
    right:-1500px;
    top:0px;
    opacity:0;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    right:30px;
    opacity:1;
  }
  80% {
    right:-10px;
  }
  100% {
    right:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-moz-keyframes animationFramesRight{
  0% {
    right:-1500px;
    top:0px;
    opacity:0;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    right:30px;
    opacity:1;
  }
  80% {
    right:-10px;
  }
  100% {
    right:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFramesRight {
  0% {
    right:-1500px;
    top:0px;
    opacity:0;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    right:30px;
    opacity:1;
  }
  80% {
    right:-10px;
  }
  100% {
    right:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-o-keyframes animationFramesRight {
  0% {
    right:-1500px;
    top:0px;
    opacity:0;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    right:30px;
    opacity:1;
  }
  80% {
    right:-10px;
  }
  100% {
    right:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-ms-keyframes animationFramesRight {
  0% {
    right:-1500px;
    top:0px;
    opacity:0;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  60% {
    right:30px;
    opacity:1;
  }
  80% {
    right:-10px;
  }
  100% {
    right:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

