<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"><head>
<title>
	
		iPad Cases &amp; Covers for iPad Air, Mini &amp; more | DODOcase
		
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="google-site-verification" content="w36xD7rEK5_VAJnFM8XiZNw6bECYeO7sK0nJ9AGuol8">

	<meta content="Sleek black &amp; brown leather, moleskin, and linen cases that are durable and classically stylish. Choose from our selection or design you own custom case today." name="description">




<meta property="og:title" content="DODOcase">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.dodocase.com">
<meta property="og:image" content="http://static.shopify.com/s/files/1/0070/8302/products/dodocase-560-ipad2-1_small.jpeg?100894">
<meta property="og:site_name" content="DODOcase">
<link href="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/theme.css?18294581987436328615" rel="stylesheet" type="text/css" media="all">
<script src="https://static.leaddyno.com/js" type="text/javascript" async=""></script><script type="text/javascript" async="" src="//s3.amazonaws.com/ki.js/21297/4bJ.js"></script><script src="http://dnn506yrbagrg.cloudfront.net/pages/scripts/0021/2050.js?398438" async="" type="text/javascript"></script><script src="//d37gvrvc0wt4s1.cloudfront.net/js/v1.2/rollbar.min.js" async=""></script><script type="text/javascript" async="" src="http://beacon.riskified.com?shop=dodocase.myshopify.com"></script><script type="text/javascript" async="" src="https://dfjp7gc2z6ooe.cloudfront.net/assets/sky_pilot.js?shop=dodocase.myshopify.com"></script><script type="text/javascript" async="" src="https://delivery.shopifyapps.com/assets/checkout/script.js?shop=dodocase.myshopify.com"></script><script type="text/javascript" async="" src="https://collector.leaddyno.com/shopify.js?key=e15966a736154bd14a17f466d8c6ff158167ffe2&amp;shop=dodocase.myshopify.com"></script><script type="text/javascript" async="" src="//productreviews.shopifycdn.com/assets/v4/spr.js?shop=dodocase.myshopify.com"></script><script type="text/javascript" async="" src="//secure.apps.shappify.com/apps/upsell/upselljsscript.php?shop=dodocase.myshopify.com"></script><script src="http://tracker.emailaptitude.com/ua-parser.min.js" type="text/javascript"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/analytics.js"></script><script async="" src="//d1fc8wv8zag5ca.cloudfront.net/2.2.0/sp.js"></script><script async="" charset="utf-8" src="//v2.zopim.com/?2OZXLN7igpkUNnvhqe5BtRc8HLIQRvb3" type="text/javascript"></script><script type="text/javascript" async="" src="http://tracker.emailaptitude.com/ea.js"></script><script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.qNK87tc0egw.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCNqLAjtUsuPmmYyxaP15Mq27npfXw/t=zcms/cb=gapi.loaded_0" async=""></script><script async="" src="//connect.facebook.net/en_US/fbds.js"></script><script id="facebook-jssdk" src="//connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=158107064282700"></script><script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-MXRZCZ"></script><script type="text/javascript" async="" src="//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6"></script><script src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/plugins.js?18294581987436328615" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/theme.js?18294581987436328615" type="text/javascript"></script>


<script type="text/javascript">
	Shopify.money_format = "${{amount}}";
	Shopify.currency = "USD";
</script>
<script>
$(function() {
    	swapValues = [];
		$("input").each(function(i){
			swapValues[i] = $(this).val();
			$(this).focus(function(){
				if ($(this).val() == swapValues[i]) {
					$(this).val("");
				}
			}).blur(function(){
				if ($.trim($(this).val()) == "") {
					$(this).val(swapValues[i]);
				}
			});
		});
		
		$("input[name='id']").bind("click", function() {
			BASE_PRODUCT.price = $(this).attr("variant_price");		
		});
		$("input[type='radio']").bind("change", function() {
			if($(this).is(':checked'))  {
				BASE_PRODUCT.price = $(this).attr("variant_price");	
				}	
		});
	});
</script>

<!-- Start BounceX tag -->
<script>
	(function(d) {
		var e = d.createElement('script');
		e.src = d.location.protocol + '//bounceexchange.com/bounce/i.js?client_id=445';
		e.async = true;
		d.getElementsByTagName("head")[0].appendChild(e);
	 }(document));
</script><script src="http://bounceexchange.com/bounce/i.js?client_id=445" async=""></script>

<link rel="icon" type="image/png" href="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/favicon.png?18294581987436328615">
<script>
//<![CDATA[
      var Shopify = Shopify || {};
      Shopify.shop = "dodocase.myshopify.com";
      Shopify.theme = {"name":"dodocase-4-19","id":10665517,"theme_store_id":null,"role":"main"};

//]]>
</script>

<script type="text/javascript" src="https://cdn.optimizely.com/js/8498957.js?shop=dodocase.myshopify.com"></script>
<script>
//<![CDATA[
    (function() {
      function asyncLoad() {
        var urls = ["\/\/secure.apps.shappify.com\/apps\/upsell\/upselljsscript.php?shop=dodocase.myshopify.com","\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=dodocase.myshopify.com","https:\/\/collector.leaddyno.com\/shopify.js?key=e15966a736154bd14a17f466d8c6ff158167ffe2\u0026shop=dodocase.myshopify.com","https:\/\/delivery.shopifyapps.com\/assets\/checkout\/script.js?shop=dodocase.myshopify.com","https:\/\/dfjp7gc2z6ooe.cloudfront.net\/assets\/sky_pilot.js?shop=dodocase.myshopify.com","http:\/\/beacon.riskified.com?shop=dodocase.myshopify.com"];
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = urls[i];
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      }
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
    })();

//]]>
</script>
<script id="__st">
//<![CDATA[
var __st={"a":466182,"offset":-25200,"reqid":"60e56795-51c4-468d-bb24-f360f4f7a953","pageurl":"www.dodocase.com\/","u":"5bb057354528","p":"home"};
//]]>
</script>
<script>
//<![CDATA[
      (function() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6';
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();

//]]>
</script>

<link rel="canonical" href="http://www.dodocase.com/">
<style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f6f7f8;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3a5795;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #2f477a;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f8;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}</style><script async="" src="//static.hotjar.com/c/hotjar-20981.js?sv=3"></script><style media="print" class="jx_ui_StyleSheet" __jx__id="___$_2" type="text/css">.zopim { display: none !important }</style><script async="true" type="text/javascript" src="http://a.adroll.com/j/roundtrip.js"></script><script src="http://api.bounceexchange.com/bounce/init1.js?tojQ=function&amp;tzo=240&amp;is_preview=false&amp;website_id=445&amp;resolution=1280x738&amp;referrer=&amp;calling_url=http%3A%2F%2Fwww.dodocase.com%2F&amp;visit_cookie=%7B%22lp%22%3A%22http%253A%252F%252Fwww.dodocase.com%252F%22%2C%22r%22%3A%22%22%7D&amp;cookie=%7B%22v%22%3A%7B%22cart_value%22%3A0%2C%22referrer%22%3A%22%22%2C%22apple_watch_dock_cart%22%3Afalse%2C%22items_in_cart%22%3A0%2C%22cart_total%22%3A0%2C%22invalid_coupon%22%3Afalse%2C%22apple_watch_stand_cart%22%3Afalse%7D%7D&amp;vars[cart_value]=0&amp;vars[sold_out]=false&amp;vars[referrer]=&amp;vars[apple_watch_dock_cart]=false&amp;vars[items_in_cart]=0&amp;vars[cart_total]=0&amp;vars[promo_offer_50]=0.00&amp;vars[promo_offer_40]=0.00&amp;vars[promo_offer_30]=0.00&amp;vars[invalid_coupon]=false&amp;vars[apple_watch_stand_cart]=false&amp;vars[10_off_code_submitted]=false&amp;vars[15_pct_off]=0.00&amp;vsuc[cart_value]=true&amp;vsuc[apple_watch_dock_cart]=true&amp;vsuc[items_in_cart]=true&amp;vsuc[cart_total]=true&amp;vsuc[invalid_coupon]=true&amp;vsuc[apple_watch_stand_cart]=true&amp;vdef[referrer]=" type="text/javascript"></script><script async="true" type="text/javascript" src="//d.adroll.com/pixel/2FD6YMYT6NASFMOZKDCJLQ/XXIYK2WPMRFX7BGN6VOQ2U?pv=1855833479.2032838&amp;cookie=&amp;keyw="></script><link href="http://bounceexchange.com/assets/bounce/bounce.css?v40" rel="stylesheet" media="all" type="text/css"><link rel="stylesheet" type="text/css" href="//productreviews.shopifycdn.com/assets/v4/spr.css" media="screen"><script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><style type="text/css" id="ki-s9o-sn"></style><style type="text/css" id="ki-s9o-ss"></style><div style="width: 1px; height: 1px; display: inline;"><img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/r/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/f/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/b/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/w/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/x/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/l/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/o/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/g/out?google_nid=adroll">
<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=369929033171117&amp;cd[segment_eid]=QB4FYONZ7VCZHJ4LGU3RA6&amp;ev=NoScript"><img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1032613984/?label=4GtuCJrFpAIQ4OCx7AM&amp;guid=ON&amp;script=0&amp;ord=1133835606742650.2">
<!-- rmx placeholder -->
<img src="http://ib.adnxs.com/seg?add=95208&amp;t=2" width="1" height="1">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1032613984/?label=4GtuCJrFpAIQ4OCx7AM&amp;guid=ON&amp;script=0&amp;ord=1133835606742650.2">

<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1032613984/?label=gvqjCOqr-AMQ4OCx7AM&amp;guid=ON&amp;script=0&amp;ord=1133835606742650.2">
<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=369929033171117&amp;cd[segment_eid]=4NGTIRZLPVDVJHLBIUUOMB&amp;ev=NoScript"><img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1032613984/?label=gvqjCOqr-AMQ4OCx7AM&amp;guid=ON&amp;script=0&amp;ord=1133835606742650.2">
<!-- rmx placeholder -->
<img src="http://ib.adnxs.com/seg?add=217023&amp;t=2" width="1" height="1">
<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=369929033171117&amp;cd[segment_eid]=ALJUVN2UGNAVTPSAE4BVNR&amp;ev=NoScript"><img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1032613984/?label=hVU2CLLL8AkQ4OCx7AM&amp;guid=ON&amp;script=0&amp;ord=1133835606742650.2">
<!-- rmx placeholder -->
<img src="http://ib.adnxs.com/seg?add=1074678&amp;t=2" width="1" height="1">
</div><script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script><script type="text/javascript" async="" src="https://collector.leaddyno.com/visit?url=http%3A%2F%2Fwww.dodocase.com%2F&amp;referrer=&amp;agent=Mozilla%2F5.0%20(Macintosh%3B%20Intel%20Mac%20OS%20X%2010_10_2)%20AppleWebKit%2F600.3.18%20(KHTML%2C%20like%20Gecko)%20Version%2F8.0.3%20Safari%2F600.3.18&amp;js=true&amp;ld_t=a15f5a67-768c-4122-dadf-e72864fc1564&amp;ld_ext=&amp;ld_fp=4164955200&amp;key=e15966a736154bd14a17f466d8c6ff158167ffe2&amp;callback=__LDCB_1434377296268_146579"></script><script type="text/javascript" async="" src="https://collector.leaddyno.com/x?key=e15966a736154bd14a17f466d8c6ff158167ffe2&amp;ld_fp=4164955200&amp;ld_t=a15f5a67-768c-4122-dadf-e72864fc1564&amp;ts=1434377296269"></script><script type="text/javascript" async="" src="https://collector.leaddyno.com/clickstream?url=http%3A%2F%2Fwww.dodocase.com%2F&amp;referrer=&amp;agent=Mozilla%2F5.0%20(Macintosh%3B%20Intel%20Mac%20OS%20X%2010_10_2)%20AppleWebKit%2F600.3.18%20(KHTML%2C%20like%20Gecko)%20Version%2F8.0.3%20Safari%2F600.3.18&amp;js=true&amp;ld_t=a15f5a67-768c-4122-dadf-e72864fc1564&amp;ld_ext=&amp;ld_fp=4164955200&amp;key=e15966a736154bd14a17f466d8c6ff158167ffe2&amp;callback=__LDCB_1434377296269_313847&amp;page_url=http%3A%2F%2Fwww.dodocase.com%2F&amp;page_referrer="></script></head>

<body id="index" class="simple" style=""><div class="bcx_pusher" id="campaign_1914_pusher_top" style="height: 50px; display: block;">&nbsp;</div><div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" style="padding-bottom: 0px; padding-right: 0px; display: none;"><div id="cboxWrapper" style=""><div style=""><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxLoadedContent" class="" style="width: 0px; height: 0px; overflow: hidden;"></div><div id="cboxLoadingOverlay" class="" style=""></div><div id="cboxLoadingGraphic" class="" style=""></div><div id="cboxTitle" class="" style=""></div><div id="cboxCurrent" class="" style=""></div><div id="cboxNext" class="" style=""></div><div id="cboxPrevious" class="" style=""></div><div id="cboxSlideshow" class="" style=""></div><div id="cboxClose" class="" style=""></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div></div>

<!-- Google Tag Manager -->
<noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-MXRZCZ"
height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MXRZCZ');</script>
<!-- End Google Tag Manager -->


<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="f82318c1c" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" src="https://www.facebook.com/connect/ping?client_id=158107064282700&amp;domain=www.dodocase.com&amp;origin=1&amp;redirect_uri=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F1ldYU13brY_.js%3Fversion%3D41%23cb%3Df208c695d8%26domain%3Dwww.dodocase.com%26origin%3Dhttp%253A%252F%252Fwww.dodocase.com%252Ff3b27a145%26relation%3Dparent&amp;response_type=token%2Csigned_request%2Ccode&amp;sdk=joey" style="display: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://static.ak.facebook.com/connect/xd_arbiter/1ldYU13brY_.js?version=41#channel=f3b27a145&amp;origin=http%3A%2F%2Fwww.dodocase.com" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter/1ldYU13brY_.js?version=41#channel=f3b27a145&amp;origin=http%3A%2F%2Fwww.dodocase.com" style="border: none;"></iframe></div></div></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=158107064282700";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', "384396585036633"]);
})();
window._fbq = window._fbq || [];
window._fbq.push(["track", "PixelInitialized", {}]);
</script>
<noscript>&lt;img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=384396585036633&amp;amp;ev=NoScript" /&gt;</noscript>


<!--START HEADER-->
<div class="container">
	<!--START HEADER-->
<div id="header">
	<!-- START UPPER -->
	<ul class="layout upper clear">
		<li class="left">
           <p><a href="http://myaccount.zendesk.com/account/dropboxes/2830039812" onclick="script: Zenbox.show(); return false;">Live chat</a> Mon-Fri 9-5 PST or email <a href="mailto:thenest@dodocase.com">thenest@dodocase.com</a> <span class="desktop"><span class="divider">|</span></span></p>
          <!-- <a class="corporate" href="/pages/corporate-orders">Corporate Orders</a> -->
           <!-- START SEARCH -->
<div class="site-search">
	<form method="get" action="/search">
		<input type="text" class="site-search-input" name="q" value="Search"> 
		<input type="submit" value="Search" class="button mag-glass">
	</form>
</div>
<!-- END SEARCH -->

		</li>
		<li class="right">
			<a id="gift-guide" href="/collections/all-holiday-gifts">//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/gift-guide.png?18294581987436328615</a>
			
			<div id="mini-cart">
				<a class="new-cart" href="/cart"><span>0 items</span></a>
			</div>
		</li>
	</ul>
	<!-- END UPPER-->
	<!-- START LOWER -->
	<ul class="layout lower clear">
		<li class="left">
		 	<!--START DODOCASE LOGO-->
			<a href="/"><img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/dodologo.png?18294581987436328615" alt="Best iPad Cases &amp; Covers for iPad Air, Mini &amp; more"></a>
			<!--END DODOCASE LOGO-->
		</li>
		<li class="right">
			<!-- START TAGLINE -->
	        <div class="tagline">
	            <h1>Sleek <a href="/collections/leathercraft">black &amp; brown leather</a>, <a href="/products/dodocase-classic-for-ipad-air">moleskin</a>, and <a href="/products/dodocase-solid-for-ipad-air" target="_blank">linen cases</a> that are protective and classically stylish.</h1>
	        </div>
	        <!-- END TAGLINE -->
		</li>
	</ul>
	<!-- END LOWER-->	
	<ul class="main-nav clear">
		
		<!-- These are the current dropdown items. -->
		<li class="opt-dropdown"><a href="/pages/customizer">Customize</a>
		    <ul>
		        <li><a href="http://shop.dodocase.com/option/custom-ipad-air-cases">iPad Air</a>
		        </li>
		        <li><a href="http://shop.dodocase.com/option/custom-ipad-air2-cases/">iPad Air 2</a>
		        </li>
		        <li><a href="http://shop.dodocase.com/option/custom-ipad-mini-cases">iPad mini 1/2/3</a>
		        </li>
		        <li><a href="http://shop.dodocase.com/option/custom-ipad-cases">iPad 2/3/4</a>
		        </li>
		        <li><a href="http://shop.dodocase.com/option/custom-iphone-cases/">iPhone 5/5s</a>
		        </li>
		    <li><a href="/pages/corporate-orders">Corporate Cases</a></li></ul>
		</li>

		<li class="opt-dropdown"><a href="/collections/apple-watch-accessories"><img src="//cdn.optimizely.com/img/8498957/322e16afd23e4ac48a9dffa2a6d515b8.png" style="margin-right:2px;">Watch</a><ul><li><a href="/products/apple-watch-charging-stand">Watch Stand</a></li><li><a href="/products/charging-dock-organizer-for-iphone-and-apple-watch">Dual Charging Dock</a></li></ul></li><li class="opt-dropdown"><a href="javascript:void(0)" class="nolink">iPad</a>
		    <ul>
		        <li><a href="/collections/ipad-air-cases">iPad Air/Air 2</a>
		        </li>
		        <li><a href="/collections/ipad-mini-cases">iPad mini 1/2/3</a>
		        </li>
		        <li><a href="/collections/ipad-cases">iPad 2/3/4</a>
		        </li>
		    <li><a href="/pages/corporate-orders">Corporate Cases</a></li></ul>
		</li>

		<li class="opt-dropdown"><a href="javascript:void(0)" class="nolink">iPhone</a>
		    <ul>
		        <li><a href="/collections/iphone-6-cases">iPhone 6/6+</a>
		        </li>
		        <li><a href="/collections/iphone-4-5-cases">iPhone 4/5/5s</a>
		        </li>
		    <li><a href="/pages/corporate-orders">Corporate Cases</a></li></ul>
		</li>

		<!-- This one received a special class because the parent entry is wider than the dropdown, which changes which corners need to be rounded. -->
		<li class="opt-dropdown opt-other-dropdown"><a href="/collections/other-devices">Other Devices</a>
		    <ul>
		        <li><a href="/collections/macbook-air-cases">Macbook Air</a>
		        </li>
		        <li><a href="/collections/nexus-cases">Nexus</a>
		        </li>
		        <li><a href="/collections/samsung-cases">Samsung</a>
		        </li>
		        <li><a href="/collections/motorola-moto-x-cases">Motorola</a>
		        </li>
		        <li><a href="/collections/kindle-cases">Kindle</a>
		        </li>
		    <li><a href="/pages/corporate-orders">Corporate Cases</a></li></ul>
		</li>
		<li class="opt-dropdown"><a href="/collections/accessories">Everyday Carry</a><ul><li><a href="/collections/leathercraft">Leather Goods</a></li><li><a href="/collections/durables">Waxed Canvas Goods</a></li><li><a href="/collections/t-shirts">T-shirts</a></li><li><a href="/collections/woodgoods">Wood Goods</a></li><li><a href="/collections/papergoods">Paper Goods</a></li><li><a href="http://www.dodocase.com/collections/great-gifts-for-guys">Great Gifts for Guys</a></li><li><a href="/pages/corporate-orders">Corporate Cases</a></li></ul></li>
		<li><a href="/collections/virtual-reality">Virtual Reality</a></li>
		<li><a href="/pages/corporate-orders" style="display: none;">Corporate Cases</a></li>
	</ul><div style="clear:both;"></div>
</div>		
<!--END HEADER-->
</div>
<!--END HEADER-->
<!--START MAIN-->
<div id="main" class="fullscreen">
	<!--START BANNER -->
<div class="hero">  
	<a href="http://www.dodocase.com/collections/apple-watch-accessories" style="background-image: url(http://cdn.optimizely.com/img/2124420269/ff09cb37633e46c78c943e0f35d2e642.png); height: 160px; max-height: 12vw; background-color: transparent; background-size: cover; background-repeat: no-repeat no-repeat;" class="banner"></a> 
</div>
<!-- END BANNER -->

<!--START HERO 1 -->
<div class="hero">  
	<a href="//www.dodocase.com/collections/apple-watch-accessories" style="background-image: url(http://cdn.shopify.com/s/files/1/0046/6182/t/46/assets/flannel.jpg?13334326934523983151); min-height: 0px; height: 700px; max-height: 40vw; background-size: cover; background-position: 50% 50%;">  
		<h1 class="text">Handcrafted quality. Stylish functionality.</h1>  
		<p class="text">Designed by you. Built by craftsmen in San Francisco.</p>  
	</a> 
</div><div class="hero"><a href="http://www.dodocase.com/collections/apple-watch-accessories" style="height: 160px; max-height: 12vw; background-image: url(//cdn.optimizely.com/img/8498957/f8c8b21c57394f9f9a481c14c302c963.jpg); background-color: transparent; background-size: cover; background-repeat: no-repeat;" class="banner"></a></div>
<!-- END HERO 1 -->

<!--START PRODUCTS -->
<div class="hero products clear" style="background-image:url(//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-graph.jpg?18294581987436328615);">
	<div class="wrapper">
		<img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-divider.png?18294581987436328615">
		<h1>The few things you carry, carry well.</h1>
		<p>handcrafted ipad &amp; iphone cases, laptop sleeves, wallets, folios &amp; paper notebooks made in america.</p>
		<ul class="clear">
			<li>
				<a href="/pages/customizer">
					<span class="image-wrapper"><img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-custom-cases.png?18294581987436328615" alt="Custom Cases"></span>
					<br>
					<img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-txt-custom-cases.png?18294581987436328615" alt="Custom Cases">
				</a>
			</li>
			<li>
				<a href="/collections/dodocase">
					<span class="image-wrapper"><img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-dodocase.png?18294581987436328615" alt="DODOcase"></span>
					<br>
					<img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-txt-dodocase.png?18294581987436328615" alt="Custom Cases">
				</a>
			</li>
			<li>
				<a href="/collections/leathercraft">
					<span class="image-wrapper"><img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-leathercraft.png?18294581987436328615" alt="Leathercraft"></span>
					<br>
					<img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-txt-leathercraft.png?18294581987436328615" alt="Custom Cases">
				</a>
			</li>
			<li>
				<a href="/collections/folio">
					<span class="image-wrapper"><img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-folio.png?18294581987436328615" alt="Folio"></span>
					<br>
					<img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-txt-folio.png?18294581987436328615" alt="Custom Cases">
				</a>
			</li>
			<li>
				<a href="/collections/durables">
					<span class="image-wrapper"><img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-durables.png?18294581987436328615" alt="Durables"></span>
					<br>
					<img src="//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-txt-durables.png?18294581987436328615" alt="Custom Cases">
				</a>
			</li>
		</ul>			
	</div>
</div>
<!-- END PRODUCTD-->

<!--START HERO 2 -->
<div class="hero">
	<a href="/pages/customizer" style="background-image:url(//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-hero-create-now.png?18294581987436328615);">
		<h1 class="text">Handcrafted Quality, Stylish Protection.</h1>
		<p class="text">Designed by you. Made by craftsmen in San Fransisco.</p>
	</a>
</div>
<!-- END HERO 2 -->

<!--START HERO 3 -->
<div class="hero">
	<a href="/collections/virtual-reality" style="background-image:url(//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-hero-vr.png?18294581987436328615);">
		<h1 class="text">DODOcase VR Cardboard Toolkit.</h1>
		<p class="text">Turn your smartphone into a virtual reality device in less than 2 minutes. Play <nobr>3-D</nobr> games, experience flying through the Grand Canyon, immerse yourself in an animated film and much more!</p>
	</a>
</div>
<!-- END HERO 3 -->

<!--START HERO 4 -->
<div class="hero">
	<a href="/collections/leathercraft" style="background-image:url(//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-hero-leathercraft.png?18294581987436328615);">
		<h1 class="text">Introducing the Leathercraft Collection.</h1>
		<p class="text">Made from premium oil tanned loggers leather. Handcrafted in San Francisco.</p>
	</a>
</div>
<!-- END HERO 4 -->

<!--START HERO 5 -->
<div class="hero">
	<a href="/blogs/dodo-blog/tagged/our-craftsmen" style="background-image:url(//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-hero-craftsmen.png?18294581987436328615);">
		<h1 class="text">Introducing the Leathercraft Collection.</h1>
		<p class="text">We foster creativity while protecting inspired human endeavors from extinction.Each product is meticulously made by hand in San Francisco using traditional craft techniques developed hundreds of years ago. Our growing team of professional woodworkers, bookbinders, sewers and silk screeners share a common vision of striving for excellence and building quality products. Join us.</p>	
	</a>
</div>
<!-- END HERO 5 -->

<!--START HERO 6 -->
<div class="hero">
	<a href="/pages/corporate-orders" style="background-image:url(//cdn.shopify.com/s/files/1/0046/6182/t/46/assets/homepage-hero-brand-statement.png?18294581987436328615);">
		<h1 class="text">Make a Brand Statement with Custom Business Cases.</h1>
	</a>
</div>
<!-- END HERO 6 -->
</div>
<!--END MAIN -->
<!--START FOOTER -->
<div class="container">
	<!-- START QUICK LINKS -->
<ul id="quicklinks" class="clear">
	<li>
		<a href="/" class="dodocase logo"></a>
	</li>
	<li class="menu narrow" style="height: 382px;">
		<h4>Custom Cases</h4>
		<a href="http://www.dodocase.com/pages/customizer" target="_blank">Custom iPad Air 2 Cases</a><a href="http://shop.dodocase.com/option/custom-ipad-air-cases" target="_blank">Custom iPad Air Cases</a><a href="http://shop.dodocase.com/option/custom-ipad-mini-cases" target="_blank">Custom iPad Mini Cases</a><a href="http://shop.dodocase.com/option/custom-ipad-cases" target="_blank">Custom iPad 2/3/4 Cases</a><a href="http://shop.dodocase.com/option/custom-iphone-cases" target="_blank">Custom iPhone 5/5S Cases</a>
		
	</li>
	<li class="menu narrow" style="height: 382px;">
		<h4>Shop</h4>
		<a href="/collections/ipad-air-cases">iPad Air/Air 2</a><a href="/collections/iphone-6-cases">iPhone 6/6 Plus</a><a href="/collections/ipad-mini-cases">iPad Mini 1/2/3</a><a href="/collections/ipad-cases">iPad 2/3/4 </a><a href="/collections/limited-edition-ipad-cases">Limited Edition</a><a href="http://www.dodocase.com/collections/iphone-4-5-cases">iPhone 4/5 </a><a href="/collections/other-devices">Other Devices</a><a href="/collections/accessories">Accessories</a><a href="/products/gift-certificate">Gift Certificates</a><a href="http://www.dodocase.com/collections/sale-items">Sale Items</a><a href="http://www.dodocase.com/collections/leathercraft">Leathercraft</a><a href="/collections/durables">Waxed Canvas Goods</a><a href="/collections/great-gifts-for-guys">Great Gifts for Guys</a><a href="/collections/the-taylor-stitch-dodocase-collection">Taylor Stitch Collection</a>
	</li>
	<li class="menu narrow" style="height: 382px;">
		<h4>Virtual Reality</h4>
		<a href="/collections/virtual-reality">Virtual Reality Cardboard Viewers</a><a href="https://dodocase.zendesk.com/hc/communities/public/topics/200168944-Virtual-Reality-Forum">VR Forum</a><a href="https://play.google.com/store/apps/details?id=com.dodocase.vr">VR Apps</a><a href="http://www.dodocase.com/pages/VRkit1">VR Kit Instructions</a><a href="http://www.dodocase.com/blogs/dodo-blog/tagged/virtualreality">VR News</a>
	</li>
	<li class="menu narrow" style="height: 382px;">
		<h4>Company Info</h4>
		<a href="/blogs/about">About Us</a><a href="http://www.dodocase.com/blogs/dodo-blog/tagged/our-craftsmen">Our Craftsmen</a><a href="/pages/policies">Privacy Policy</a><a href="/pages/retailer-program">Retailer Program</a><a href="/pages/corporate-orders">Custom Corporate Cases</a><a href="/pages/careers">Careers</a>
	</li>
	<li class="menu narrow" style="height: 382px;">
		<h4>Customer Support</h4>
		<a href="/pages/contact">Contact Us</a><a href="/pages/order-lookup">Order Status Lookup</a><a href="/pages/shipping-and-returns">Shipping &amp; Return Policy</a><a href="https://dodocase.zendesk.com/forums/21778340-Virtual-Reality-Forum-">VR Forum </a><a href="https://dodocase.zendesk.com/forums" target="_blank">FAQs</a>
		<div class="fb-like fb_iframe_widget" data-href="http://www.dodocase.com/" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=137662812982507&amp;container_width=0&amp;href=http%3A%2F%2Fwww.dodocase.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=150"><span style="vertical-align: bottom; width: 80px; height: 20px;"><iframe name="fc5158204" width="150px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=137662812982507&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F1ldYU13brY_.js%3Fversion%3D41%23cb%3Df3e388494c%26domain%3Dwww.dodocase.com%26origin%3Dhttp%253A%252F%252Fwww.dodocase.com%252Ff3b27a145%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.dodocase.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=150" style="border: none; visibility: visible; width: 80px; height: 20px;" class=""></iframe></span></div>
	</li>
	<li class="menu last" style="height: 382px;">
		<h4>News</h4>
		<a href="/blogs/dodo-blog" target="_blank">DODOcase Blog</a><a href="https://medium.com/@DODOcase">Medium</a><a href="/blogs/videos">Videos</a><a href="/blogs/press">Press</a><a href="https://vimeo.com/dodocase">Vimeo</a><a href="https://www.youtube.com/channel/UCoY6r3UqlITmwAomXWtfkXg">YouTube</a><a href="http://dodocase.tumblr.com/">Tumblr</a>
		<div id="social">
			<a class="new-facebook png" target="_blank" href="http://www.facebook.com/pages/DODOcase/105269252845246"></a>
			<a class="new-twitter png" target="_blank" href="http://twitter.com/dodosays"></a>
			<a class="new-pinterest png" target="_blank" href="http://pinterest.com/dodocase/"></a>
			<a class="new-instagram" target="_blank" href="http://instagram.com/dodocase"></a>
			<a class="tumblr" target="_blank" href="http://dodocase.tumblr.com/"></a>
			<a class="medium" target="_blank" href="https://medium.com/@DODOcase"></a>
		</div>
	</li>
</ul>
<!-- END QUICK LINKS -->
<!--START FOOTER-->
<div id="footer" class="png">			
	<p>© 2015 <a href="/">DODOcase</a>. All Rights Reserved.</p>
</div>
<!--END FOOTER-->

</div>
<!--END FOOTER-->


<script type="text/javascript">
adroll_adv_id = "2FD6YMYT6NASFMOZKDCJLQ";
adroll_pix_id = "XXIYK2WPMRFX7BGN6VOQ2U";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   document.documentElement.firstChild.appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

<!--
<script type="text/javascript" src="//asset0.zendesk.com/external/zenbox/v2.1/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//asset0.zendesk.com/external/zenbox/v2.1/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20004128",
      url:         "https://dodocase.zendesk.com",
      tabID:       "support",
      tabImageURL: "http://cdn.shopify.com/s/files/1/0046/6182/files/dodo-zendesk.png?433",
      tabColor:    "#231F20",
      tabPosition: "Left"
    });
  }
</script>
-->

<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.5/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.5/zenbox.css);
  #zenbox_tab {
  	  border: 2px solid #fff;
	  background: #000;
	  cursor: pointer;
	  font-family: Arial,Helvetica,sans-serif;
	  height: 20px;
	  margin: 0;
	  min-width: 95px;
	  overflow: hidden;
	  padding: 0 10px 35px;
	  position: fixed;
	  top: 23%;
	  white-space: nowrap;
	  z-index: 10000;
	  background: #000 url("http://cdn.shopify.com/s/files/1/0046/6182/t/18/assets/bg-leather.jpg") repeat !important;
	}
	#zenbox_tab #feedback_tab_text {
	  color: #FFFFFF;
	  font-size: 16px;
	  font-weight: normal;
	  margin: 25px auto;
	  text-align: center;
	  font-family: Georgia,"Times New Roman",Times,serif;
	  font-style: italic;
	}
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20100787",
      url:         "https://dodocase.zendesk.com",
      tabID:       "Support",
      tabColor:    "231F20",
      tabPosition: "Left"
    });
  }
</script><div id="zenbox_tab" href="#" title="Support" class="ZenboxTabLeft" classname="ZenboxTabLeft" style="display: block; left: -45px;"><div id="feedback_tab_text">Support</div></div><div id="zenbox_overlay" style="display: none;"><div id="zenbox_container">  <div class="zenbox_header"><img id="zenbox_close" src="//assets.zendesk.com/external/zenbox/images/close_big.png"></div>  <iframe id="zenbox_body" frameborder="0" scrolling="auto" allowtransparency="true" src="//assets.zendesk.com/external/zenbox/v2.1/loading.html"></iframe></div><div id="zenbox_scrim">&nbsp;</div></div>
<script src="http://connect.facebook.net/en_US/all.js#appId=137662812982507&amp;xfbml=1"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true"></script>
 
 


<!-- START CRAZY EGG -->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0021/2050.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<!-- END CRAZY EGG -->
<script type="text/javascript">
window._ea = window._ea || {};
window._ea.accountId = 'EA-XB3GNV';
(function() {
var ea = document.createElement('script'); ea.type = 'text/javascript'; ea.async = true;
ea.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'tracker.emailaptitude.com/ea.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ea, s);
})();
</script>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?2OZXLN7igpkUNnvhqe5BtRc8HLIQRvb3';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->

<noscript>
	&lt;style&gt;
		li.opt-dropdown:hover {
		    background-color: #DFD7C8;
		    position: relative;
		    padding: .25em .5em;
		    margin: -.25em 32px -.25em -.5em!important;
		    border-radius: 3px 3px 0 0;
		}
		li.opt-dropdown:hover &gt; a.nolink {
		    text-decoration: none;
		    color: #000000;
		}
		li.opt-dropdown:hover ul {
		    display: block;
		}
	&lt;/style&gt;
</noscript>

<style type="text/css">li.opt-dropdown.hover { background-color:#DFD7C8; position:relative; padding: .25em .5em; margin: -.25em 32px -.25em -.5em!important; border-radius:3px 3px 0 0; }li.opt-dropdown.hover > a.nolink { text-decoration: none; color:#000000; }.opt-dropdown ul { display:none; background-color:#DFD7C8; position:absolute; top:98%; padding-top:.25em; padding-bottom:.25em; left:0; border-radius: 0 3px 3px 3px; }li.opt-dropdown.hover ul { display:block; }.opt-dropdown ul li { margin:0!important; float:none; }.opt-dropdown ul li a { display:block; white-space:nowrap; padding:.25em .5em .25em .75em; font-family: Georgia, 'Times New Roman', Times, serif; font-style:italic; text-transform: none; font-size:14px; font-weight:400; }.opt-dropdown ul li a:hover { text-decoration:none; color:#BF1820; background-color:#EBE7DE; }.opt-dropdown a.nolink { cursor:default; }.opt-other-dropdown { border-radius: 3px 3px 3px 0px!important; } .opt-other-dropdown ul { border-radius: 0 0 3px 3px!important; }.main-nav { display: -webkit-flex; display:flex; -webkit-justify-content: space-between; justify-content: space-between; }</style><script type="text/javascript" id="" src="//code.avari.io/avari-1.1.7.min.js"></script>
<script type="text/javascript" id="">(function(a,d,f,g,c,b,e){a[c]||(a.GlobalSnowplowNamespace=a.GlobalSnowplowNamespace||[],a.GlobalSnowplowNamespace.push(c),a[c]=function(){(a[c].q=a[c].q||[]).push(arguments)},a[c].q=a[c].q||[],b=d.createElement(f),e=d.getElementsByTagName(f)[0],b.async=1,b.src=g,e.parentNode.insertBefore(b,e))})(window,document,"script","//d1fc8wv8zag5ca.cloudfront.net/2.2.0/sp.js","snowplow_tracker");snowplow_tracker("newTracker","sp","collector.avari.io",{appId:"10878",forceSecureTracker:!0});
Array.prototype.filter||(Array.prototype.filter=function(a){if(void 0===this||null===this)throw new TypeError;var d=Object(this),f=d.length>>>0;if("function"!==typeof a)throw new TypeError;for(var g=[],c=2<=arguments.length?arguments[1]:void 0,b=0;b<f;b++)if(b in d){var e=d[b];a.call(c,e,b,d)&&g.push(e)}return g});</script>
<script type="text/javascript" id="">(function(a,c){var b;a.hj=a.hj||function(){(a.hj.q=a.hj.q||[]).push(arguments)};a._hjSettings={hjid:20981,hjsv:3};b=c.createElement("script");b.async=1;b.src="//static.hotjar.com/c/hotjar-20981.js?sv\x3d3";c.getElementsByTagName("head")[0].appendChild(b)})(window,document);</script>

<script type="text/javascript" id="">var _kiq=_kiq||[];(function(){setTimeout(function(){var a=document,b=a.getElementsByTagName("script")[0],a=a.createElement("script");a.type="text/javascript";a.async=!0;a.src="//s3.amazonaws.com/ki.js/21297/4bJ.js";b.parentNode.insertBefore(a,b)},1)})();</script><div class="zopim" __jx__id="___$_1" style="position: absolute; visibility: hidden; margin: 0px; padding: 0px; border: 0px; height: 0px; width: 0px;"></div>
<script type="text/javascript" id="">var dataLayer=dataLayer||[];window.setTimeout(function(){AVARI.init(dataLayer,AVARI.customConfig,function(a){dataLayer.push(a)})},500);</script><script src="http://trk.cetrk.com/t.js?s=1434257&amp;t=1434377296565" type="text/javascript" async=""></script><div data-type="bar" data-valign="top" data-align="center" id="campaign_1914_container_top" class="bouncex_header_top center bcx_top floating_bar bcx_container bcx_no_effect " style="margin-top: 0px; background-image: url(https://assets.bounceexchange.com/assets/uploads/clients/445/ads/ebJTHWsu/left.jpg); background-color: transparent; height: 50px; display: block; background-position: 0px 0px; background-repeat: repeat no-repeat;"><div class="bcx_outer"><div class="bcx_inner" style="overflow:hidden;width:1200px;height:50px;"><div class="bcx_ie_fix"></div><div><a target="_top" id="bcx_close_1914_top" class="bouncex_close bcx_close_header_top size_75  top_right center  bcx_close_classic" href="javascript:close_bouncex_ad(1914);" style="display: none;"></a><iframe name="bcx_1914_iframe_top" id="bcx_1914_iframe_top" horizontalscrolling="no" verticalscrolling="no" width="100%" height="100%" frameborder="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" allowtransparency="true" target="_parent" src="http://api.bounceexchange.com/bounce/iframe_campaign/1914?mode=0&amp;website_id=445&amp;device_type=d&amp;cv_id=&amp;visit_id=1434377290058130&amp;height=738&amp;w=1200px&amp;h=50px&amp;width=1280&amp;campaign_id=1914&amp;cvt=1434377290&amp;fsa=0&amp;scale=1&amp;pos=header_top&amp;vars%5Bcart_value%5D=0&amp;vars%5Bsold_out%5D=false&amp;vars%5Breferrer%5D=&amp;vars%5Bapple_watch_dock_cart%5D=false&amp;vars%5Bitems_in_cart%5D=0&amp;vars%5Bcart_total%5D=0&amp;vars%5Bpromo_offer_50%5D=0.00&amp;vars%5Bpromo_offer_40%5D=0.00&amp;vars%5Bpromo_offer_30%5D=0.00&amp;vars%5Binvalid_coupon%5D=false&amp;vars%5Bapple_watch_stand_cart%5D=false&amp;vars%5B10_off_code_submitted%5D=false&amp;vars%5B15_pct_off%5D=0.00"></iframe></div></div></div></div><style type="text/css">#bcx_close_122700_overlay {  top: 12px!important;  left: 814px!important;}</style><div data-type="overlay" data-valign="middle" class="bcx_container bcx_fade bcx_overlay" id="campaign_122700_container_overlay" style="display:none;"><div id="campaign_122700_lightbox" class="bouncex_lightbox"></div><div id="campaign_122700_middle" class="bouncex_middle bcx_outer" style="margin-left:-410px;margin-top:-295.5px;width:820px;height:591px;"><div class="bcx_inner" style="width:820px;height:591px;"><a target="_top" id="bcx_close_122700_overlay" class="bouncex_close bcx_close_overlay size_75  top_right   bcx_close_" href="javascript:close_bouncex_ad(122700);"></a><div class="bcx_onsite_els" id="bcx_onsite_els_122700_s2" style="display:none"><div class="bcx_el superlink " id="bouncex_el_6" style="min-width:20px; min-height:20px; height:72px; width:297px;font-family:Arial;position:absolute;z-index:4;font-size:;top:372px;left:110px;"><a target="_top" href="javascript:(function(){(function(){bouncex.report(122700,'clicks');setTimeout(function(){window.location.href='http://www.dodocase.com/collections/iphone-6-cases?utm_source=bouncex&utm_medium=emcap&utm_campaign=bx_coupon15';},300);bouncex.close_ad(122700);})()})();" name="6_name" style="font-size:12px;padding:0;height:72px;width:297px;border-radius: 0;background-color:transparent;margin:0;background-image:url(about:blank);text-shadow: none;box-shadow: none;margin:0;display:block;border:1px solid transparent;"></a></div><div class="bcx_el superlink " id="bouncex_el_7" style="min-width:20px; min-height:20px; height:72px; width:297px;font-family:Arial;position:absolute;z-index:4;font-size:;top:372px;left:413px;"><a target="_top" href="javascript:(function(){(function(){bouncex.report(122700,'clicks');setTimeout(function(){window.location.href='http://www.dodocase.com/pages/customizer?utm_source=bouncex&utm_medium=emcap&utm_campaign=bx_coupon15';},300);bouncex.close_ad(122700);})()})();" name="7_name" style="font-size:12px;padding:0;height:72px;width:297px;border-radius: 0;background-color:transparent;margin:0;background-image:url(about:blank);text-shadow: none;box-shadow: none;margin:0;display:block;border:1px solid transparent;"></a></div><div class="bcx_el superlink " id="bouncex_el_8" style="min-width:20px; min-height:20px; height:68px; width:378px;font-family:Arial;position:absolute;z-index:4;font-size:;top:451px;left:223px;"><a target="_top" href="javascript:(function(){(function(){bouncex.report(122700,'clicks');setTimeout(function(){window.location.href='http://www.dodocase.com/collections/virtual-reality?utm_source=bouncex&utm_medium=emcap&utm_campaign=bx_coupon15';},300);bouncex.close_ad(122700);})()})();" name="8_name" style="font-size:12px;padding:0;height:68px;width:378px;border-radius: 0;background-color:transparent;margin:0;background-image:url(about:blank);text-shadow: none;box-shadow: none;margin:0;display:block;border:1px solid transparent;"></a></div></div><iframe name="bcx_122700_iframe_overlay" id="bcx_122700_iframe_overlay" horizontalscrolling="no" verticalscrolling="no" width="100%" height="100%" frameborder="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" allowtransparency="true" target="_parent" src="http://api.bounceexchange.com/bounce/iframe_campaign/122700?mode=0&amp;website_id=445&amp;device_type=d&amp;cv_id=&amp;visit_id=1434377290058130&amp;height=738&amp;w=820px&amp;h=591px&amp;width=1280&amp;campaign_id=122700&amp;cvt=1434377290&amp;fsa=0&amp;scale=1&amp;pos=overlay&amp;vars%5Bcart_value%5D=0&amp;vars%5Bsold_out%5D=false&amp;vars%5Breferrer%5D=&amp;vars%5Bapple_watch_dock_cart%5D=false&amp;vars%5Bitems_in_cart%5D=0&amp;vars%5Bcart_total%5D=0&amp;vars%5Bpromo_offer_50%5D=0.00&amp;vars%5Bpromo_offer_40%5D=0.00&amp;vars%5Bpromo_offer_30%5D=0.00&amp;vars%5Binvalid_coupon%5D=false&amp;vars%5Bapple_watch_stand_cart%5D=false&amp;vars%5B10_off_code_submitted%5D=false&amp;vars%5B15_pct_off%5D=0.00"></iframe></div></div><div id="bcx_power"><a href="https://www.bounceexchange.com?src=bcx_pwr;Y2lkOjEyMjcwMA" target="_blank">Powered by <span>Bounce Exchange</span>™</a></div></div></body></html>