.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

#header {
    clear: both;
    background-color: white;
}

.jumbotron {
    border: 5px solid #053E25;
  background-image:url('http://i1345.photobucket.com/albums/p668/samanthajaybee/fetchc_zps731t87st.png');
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #383535;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.about-us {
	text-align: center;
}

.thumbnail {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #383535;
	border-radius: 18px;
	border: 4px solid green;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 150px;
	margin-left: 150px;
}

#footer {
    clear: both;
    background-color: rgba(132,189,15, 0.83);
    height: 75px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
}

#instagram {
    height: 63px;
    width: 63px;
    margin-right: 20px;
}

#facebook {
    height: 76px;
    width: 76px;
}

#twitter {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.center {
    text-align: center;
}

body {
    background-image: url('http://i1345.photobucket.com/albums/p668/samanthajaybee/paperp_zpsaj2w76cc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

