.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

#header {
    clear: both;
    background-color: white;
    height: 54px;
}

.jumbotron {
    border: 5px solid #053E25;
  background-image:url('http://i1345.photobucket.com/albums/p668/samanthajaybee/fetchc_zps731t87st.png');
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #504C4C;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.container h2 {
    font-size: 35px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-shadow: 4px 4px 5px #969A9A;
}

.container p {
    margin-bottom: 55px;
    font-size: 17px;
    text-shadow: 3px 2px 4px #969A9A;
}

.thumbnail img {
    background-color: white;
}

.thumbnail #mcdonalds {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #504C4C;
	border-radius: 18px;
	border: 4px solid #FFFF85;
	width: 266px;
}

.thumbnail #subway {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #504C4C;
	border-radius: 18px;
	border: 4px solid #B6DB91;
	padding-top: 52px;
	padding-bottom: 52px;
	padding-left: 10px;
	padding-right: 10px;
	width: 266px;
}

.thumbnail #tim {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #504C4C;
	border-radius: 18px;
	border: 4px solid #C2AD99;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 10px;
	padding-right: 10px;
	width: 266px;
	height: 187px;
}

.thumbnail #harveys {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #504C4C;
	border-radius: 18px;
	border: 4px solid #A6B8DC;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 45px;
	padding-right: 45px;
	height: 187px;
}

.thumbnail #starbucks {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #504C4C;
	border-radius: 18px;
	border: 4px solid #809980;
	padding-left: 29px;
	padding-right: 29px;
	height: 190px;
	margin-bottom: 15px;
}

.thumbnail #tacobell {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #504C4C;
	border-radius: 18px;
	border: 4px solid #E0CCF5;
	height: 187px;
	padding-left: 63px;
	padding-right: 63px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.sub-footer {
	margin-top: 2.5em;
	margin-left: 5px;
	margin-right: 5px;
	border-top: solid 1px #ede9dd;
	background-color: rgba(206,229,159, 0.83);
}

#news {
	padding-left: 25px;
}

#learn {
	padding-left: 25px;
}

.sub-footer .container {
	margin: 0 auto;
	padding: 20px 0;
}

.column, .columns {
	float: left;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#footer {
    clear: both;
    background-color: rgba(132,189,15, 0.83);
    height: 75px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
}

#instagram {
    height: 63px;
    width: 63px;
    margin-right: 20px;
}

#facebook {
    height: 76px;
    width: 76px;
}

#twitter {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.center {
    text-align: center;
}

body {
    background-image: url('http://i1345.photobucket.com/albums/p668/samanthajaybee/paperp_zpsaj2w76cc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

