.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

#header {
    clear: both;
    background-color: white;
    height: 54px;
    border-bottom: 5px solid #053E25;
}

#saladlogo {
	text-align: center;
}

h1 {
	text-align: center;
	font-family: Arial;
	font-size: 32px;
}

#mclogo {
	text-align: center;
}

#mclogo img {
	text-align: center;
	height: 16%;
	width: 16%;
	margin-top: 30px;
	margin-bottom: 65px;
}

.thumbnail #sand_meals {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail #beverages {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail #salads {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail #desserts_sides {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

#bevlogo {
	text-align: center;
}

#bevlogo img {
	text-align: center;
	height: 16%;
	width: 16%;
	padding-top: 30px;
	padding-bottom: 27px;
}

.thumbnail h2 {
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

figure { 
	width: 230px;
	height: 260px;
	border-radius: 10px;
	background-color: rgba(163, 163, 160, 1);
	border: 1px solid rgba(202, 202, 199, 1);
	margin: 0px;
	padding: 9px;
	cursor: pointer !important;
	text-align: left;
}

figure img {
	border-radius: 10px;
	border-color: black;
	height: 200px;
	width: 210px;
}

figure:hover {
	background-color: #053E25;
}

figcaption {
	padding: 4px;
	color: white;
}

figcaption p {
	display: inline;
	text-align: right;
	padding-left: 30px;
	margin-left: 60px;
}

figcaption:hover {
	text-decoration: none;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog h2 {
	margin-bottom: 13px;
	margin-top: 17px;
}

.modalDialog .prod_info h3 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-top: 12px;
	color: black;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 800px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #000000;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #053E25; 
	color: white;
}

.modalDialog img {
	border-radius: 20px;
	border-color: black;
	height: 350px;
	width: 380px;
}

.sub-footer {
	margin-top: 2.5em;
	margin-left: 5px;
	margin-right: 5px;
	border-top: solid 1px #ede9dd;
	background-color: rgba(206,229,159, 0.83);
}

#news {
	padding-left: 25px;
}

#learn {
	padding-left: 25px;
}

.sub-footer .container {
	margin: 0 auto;
	padding: 20px 0;
}

.column, .columns {
	float: left;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#footer {
    clear: both;
    background-color: rgba(132,189,15, 0.83);
    height: 75px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
}

#instagram {
    height: 63px;
    width: 63px;
    margin-right: 20px;
}

#facebook {
    height: 76px;
    width: 76px;
}

#twitter {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.center {
    text-align: center;
}

body {
    background-image: url('http://i1345.photobucket.com/albums/p668/samanthajaybee/paperp_zpsaj2w76cc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
}