/******************************************************************
Theme Name: Retina v1.0
Theme URI: http://themes.shopify.com/themes/retina/styles/austin?ref=out-of-the-sandbox
Author: Out of the Sandbox (http://outofthesandbox.com)
Description: Shopify Theme (http://www.shopify.com/?ref=out-of-the-sandbox)
******************************************************************/
/* Table of Content
==================================================
  #Reset & Basics
  #Basic Styles
  #Typography
  #Links
  #Lists
  #Menu
  #Images
  #Videos
  #Buttons
  #Tabs
  #Forms
  #Tables
  #Misc
  #Site Styles 
  #mmenu
  #FlexSlider 
  #FancyBox
  #Layout
  #Font-Face */

/* #Reset & Basics
================================================== */
html,
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* #Basic Styles
================================================== */
body {
    background-color: #ffffff;


    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;


    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    font-weight: normal;
    font-size: 14px;
    text-transform: none;
    color: #404040;
    line-height: 1.8em;
}

::-moz-selection {
    background-color: #000;
    color: #fff;
}

::selection {
    background: #FFF7B6;
    color: black;
}

abbr {
    border-bottom: 1px dotted #ded6c7;
}

/* #Typography
================================================== */
.logo {

    font-family: "Josefin Sans";


    font-weight: normal;
    font-size: 36px;
    text-transform: none;
    color: #303030;
}

.logo a, .logo a:hover, .logo a:visited, .logo a:active, .header_bar .logo a, .header_bar .logo a:hover, .header_bar .logo a:visited, .header_bar .logo a:active {
    color: #303030;
}

.index .logo a, .index .logo a:hover, .index .logo a:visited, .index .logo a:active {
    color: #ffffff;
}

h1, .collection_title, .headline, p.subtitle {
    font-family: 'harabarahanditalic';
}

h2, h3, h4, h5, h6, .collection_title, .headline, p.subtitle {


    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    font-weight: normal;
    text-transform: uppercase;
    color: #303030;
    display: block;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;

}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .collection_title {
    font-weight: inherit;
}

h1 a, h1 a:visited, .collection_title a, .collection_title a:visited {
    color: #303030 
}

h1 a:hover, h1 a:active, .collection_title a:hover, .collection_title a:active {
    color: #000000 
}

h1, .h1, h1.home, h2.title, .collection_title {
    font-size: 45px;
    line-height: 1.5em;
    margin: 0 auto 15px;
    clear: both;
    font-weight: normal;
    padding-top: 4px;
}

h1.product_name {
    margin-bottom: 15px;
}

h2, .h2 {
    font-size: 26px;
    margin-bottom: 1em;
    line-height: 1.5em 
}

h3, .h3, h1.blog_title {
    font-size: 28px;
    line-height: 35px;
    margin: 0 auto 15px 0;
    text-align: left;
}

h1.collection_title, div.collection_title {
    margin-bottom: 0;
    line-height: 45px;
    display: inline;
}

h1.collection_title_tags, div.collection_title_tags {
    padding-right: 25px;
    border-right: solid 1px #ded6c7;
}

h4, .h4, h4.title a, h6.title {
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 1em 0;
    padding: 0;
    border-bottom: 1px solid #ded6c7;
    border-top: 1px solid #ded6c7;
    padding: 7px 0;
    color: #303030;
}

h4.title a {
    border: 0;
    padding: 0;
    margin: 0;
}

h5, .h5 {
    font-size: 22px;
    padding-bottom: 1em;
}

h5.sub_title {
    padding-bottom: 5px;
}

h6, .h6, h6.title {
    font-size: 20px;
    padding: 5px 0
}

.footer h6 {
    color: #404040;
}

.subheader {
    color: #777;
}

p {
    margin: 0 0 10px;
    font-style: normal;
    line-height: 1.7em;
}

p img {
    margin: 0;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

small {
    font-size: 90%;
}

.feature img {
    position: relative;
    top: 7px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.feature p {
    font-size: smaller 
}

/*  Blockquotes  */
blockquote, blockquote p {
    font-size: 17px;
    line-height: 24px;
    font-style: italic;
}

blockquote {
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #ded6c7;
}

blockquote cite {
    display: block;
    font-size: 12px;
    color: #555;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
    color: #555;
}

hr {
    border: solid #ded6c7;
    border-width: 1px 0 0;
    clear: both;
    margin: 12px 0;
    height: 0;
}

.quote {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 20px 0;
    font-style: italic;
}

.featured_text {
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 0;
}

div.section.collection_description {
    margin-bottom: 1.5em;
}

/* #Links
================================================== */
a,
a:visited {
    color: #000000;
    text-decoration: none;
    outline: 0;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    -ms-transition: color .1s linear;
    transition: color .1s linear;
}

a:hover, a:focus {
    color: #48494a;
}

/* #Lists
================================================== */
ul,
ol {
    margin-bottom: 20px;
}

ul {
    list-style: circle outside;
}

ol {
    list-style: decimal;
}

ul, ol, ul.square, ul.circle, ul.disc {
    margin-left: 30px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul, ul ol,
ol ol, ol ul {
    margin: 4px 0 5px 30px;
    font-size: 90%;
}

ul ul li, ul ol li,
ol ol li, ol ul li {
    margin-bottom: 6px;
}

li {
    line-height: 14px;
    margin-bottom: 6px;
}

ul.large li {
    line-height: 21px;
}

ul.none {
    list-style: none outside;
    margin-left: 0;
}

ul.border {
    list-style: none outside;
    line-height: 26px;
}

ul.border li {
    border-bottom: 1px solid #ded6c7;
    list-style: none outside none;
    padding: 12px 0;
    margin-bottom: 0;
}

ul.chirp {
    margin-left: 0
}

ul.chirp .meta a {
    color: #9da6ae;
}

/* #Menu
================================================== */

.header {
    position: fixed;
    z-index: 1000;
    width: 100%;


    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

.header_bar {
    background-color: #ffffff;
    border-bottom: solid 1px #ded6c7;
}

.header_bar a, .header_bar a:visited {
    color: #404040 !important;
    text-shadow: none !important;
}

.header div.container {
    padding-bottom: 5px;
    padding-top: 10px;
}

#header {
    display: none;
    background: #f5f5f5;
    border-bottom: 1px solid #ded6c7;
    color: #404040;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 50px;
    z-index: 10000;

    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

html.mmenu-left.mmenu-opened #header, html.mmenu-left.mmenu-opened .header
{
    margin-left: 0px;
    left: 0%;

    -webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
    -moz-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
    transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
}

html.mmenu-left.mmenu-opening #header, html.mmenu-left.mmenu-opening .header
{
    margin-left: -65px;
    left: 100%;
}

html.mmenu-right.mmenu-opened #header, html.mmenu-right.mmenu-opened .header
{
    margin-right: 0px;
    left: 0%;

    -webkit-transition: right 0.5s ease, left 0.5s ease, margin 0.5s ease;
    -moz-transition: right 0.5s ease, left 0.5s ease, margin 0.5s ease;
    transition: right 0.5s ease, left 0.5s ease, margin 0.5s ease;
}

html.mmenu-right.mmenu-opening #header, html.mmenu-right.mmenu-opening .header
{
    left: -100%;
    margin-left: 65px;
}

@media all and (min-width: 500px) {
    html.mmenu-left.mmenu-opening #header, html.mmenu-left.mmenu-opening .header {
        left: 500px;
    }

    html.mmenu-right.mmenu-opening #header, html.mmenu-right.mmenu-opening .header {
        left: -500px !important;
    }
}

#header a
{
    color: #303030;
    font-size: 32px;
    display: block;
    height: 40px;
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 25px;
    padding-top: 5px;
}

div#header a span {
    display: inline;
    padding-left: 4px;
    position: relative;
    top: -2px;
}

#header a.right
{
    left: auto;
    right: 15px;
    font-size: 20px;
    padding-top: 8px;
    top: 2px;
}

#header a.icon-menu span {
    top: -4px;
}

.nav {
    text-align: right;
}

.nav ul {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline-block;
    position: relative;
    margin: 0;
    border: 0;
}

.nav ul li {
    *display: inline;
}

.nav ul li a.top-link::after, 
.nav ul li a.active::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #e77737;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.index .nav ul li a.active::after,
.index .nav ul li a.top-link::after {
    background-color: #ffffff;
}

.index .header_bar .nav ul li a.active::after,
.index .header_bar .nav ul li a.top-link::after {
    background-color: #404040;
}

.nav ul li a.top-link:hover::after,
.nav ul li a.top-link:focus::after,
.nav ul li a.active::after {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.nav ul li:hover a.sub-menu::after {
    background-color: transparent;
}

.nav ul li a.sub-menu {
    padding: 10px;
    z-index: 1005;
    border: solid 1px transparent;
    border-bottom: 0;
}

.nav ul li:hover a.sub-menu {
    border: solid 1px #ded6c7;
    border-bottom: 0;
    background-color: #ebe1c3;
    color: #404040;
}

.nav a, .nav a:visited, .nav a:active, #header a span, .nav a.icon-cart span, .search-close {

    font-family: "Just Another Hand";

    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    color: #404040;
    position: relative;
    display: block;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.index .header .nav a {
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.index .header .nav a.icon-cart {
    color: #404040;
    text-shadow: none;
}

.index .header .nav a:hover, .index .header .nav a:focus {
    color: #e77737;
}

.nav a.icon-cart span {
    display: inline;
}

.nav ul.search_nav {
    margin-bottom: 5px;
}

.nav ul li a:hover, nav ul li a:focus, .nav a.icon-cart:hover span, .search-close:hover {
    color: #e77737 !important;
}

.logo {
    padding: 10px 0;
}

.nav ul.menu li {
    padding: 10px 5px 10px 5px;
}

.nav ul li .cart-button, input.guest_button, input[type="button"].guest_button {
    font-size: 16px;
    background-color: #ebe1c3;
    padding: 8px 15px 8px 15px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

input[type="submit"].guest_button, input[type="button"].guest_button {
    color: #404040;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav ul li .cart-button span {
    padding-left: 5px;
    top: -1px;
}

.cart_count {
    position: absolute;
    left: 24px;
    top: 2px;
    background-color: #e77737;
    padding: 0 4px;
    border-radius: 4px;
    color: #fff !important;
    font-size: 11px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    line-height: 15px;
    text-align: center;
}

input[type="submit"].guest_button, input[type="submit"].guest_button:hover {
    background-color: #ebe1c3;
}

input[type="submit"].guest_button:hover {
    color: #000000;
}

.nav ul.menu {
    padding-top: 15px;
}

/* sub-levels link */
.menu ul a, .menu li:hover > ul a, .index .header .nav ul.menu ul li a {
    white-space: nowrap;
    padding: 8px 0 8px 15px;
    background: none;
    text-align: left;
    color: #404040;
}

.index .header .nav ul.menu ul li a.sub-link {
    padding: 5px 0 5px 24px;
}

/* sub-level ul */
.dropdown {
    background-color: #ebe1c3;
    border: solid 1px #ded6c7;
    border-bottom-color: #bbb;
    display: none;
    position: absolute;
    left: 5px;
    top: 49px;
    z-index: 1004;
    min-width: 200px;
}

.dropdown-wide {
    min-width: 400px;
}

.dropdown a {
    text-shadow: none !important;
}

.nav ul.menu ul {
    width: 49%;
    float: left;
    display: inline;
}

.nav ul.menu ul li {
    display: block;
    text-align: left;
    padding: 0;
    z-index: 1004;
}

.nav ul.menu ul li a {
    border: 0;
}

.nav ul.menu ul li a.sub-link {
    font-weight: normal;
    font-size: 25px;
    padding: 5px 0 5px 24px;
    text-transform: none;
    display: block;
    width: 100%;
}

/* show dropdown ul on hover */
.menu li:hover > .dropdown {
    display: block;
}

.toggle_menu {
    position: relative;
    overflow: hidden;
    display: none;
    top: -16px;
}

.container div.collection_nav {
    margin-bottom: 1.5em;
}

.collection_menu, .collection_menu li {
    display: inline;
    list-style: none;
    border: none;
    position: relative;
    top: -3px;
    margin: 0;
}

.collection_menu li {
    padding-left: 25px;
}

.sidebar a {
    display: block;
    color: #404040;
}

.sidebar a:hover {
    color: #e77737;
}

.sidebar a {
    position: relative;
    left: -8px;
    padding-left: 8px;
    border-left: solid 4px transparent;
    -webkit-transition : border 200ms ease-out;
    -moz-transition : border 200ms ease-out;
    -o-transition : border 200ms ease-out;
}

.sidebar a.active, .sidebar li.active a, .sidebar a:hover {
    border-left: solid 4px #e77737;
}

.sidebar li ul {
    margin: 10px 0 8px 14px;
    font-size: 13px;
}

.sidebar li ul li {
    margin-bottom: 12px;
}

#search {
    display: none;
    -o-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    background: #f9f9f9;
    background: rgba(249, 249, 249, 0.95);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 900;
    position: fixed;
    text-align: center;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -o-transition-property: opacity;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -o-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -o-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.search-close {
    padding-top: 125px;
    font-size: 32px;
    cursor: pointer;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 300;
}

#search form {
    z-index: 950;
    padding-top: 50px;
    clear: both;
}

#search form input {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 2px #eee;
    padding: 16px 8px;
    font-size: 26px;
}

/* #Images
================================================== */
/*
  The purpose of the below declaration is to make sure images don't 
  exceed the width of columns they are put into when resizing window. 
  Unfortunately, this declaration breaks certain lightbox, slider or other plugins,
  so the best solution is to individually call these properties on images that 
  are children of the grid that you want to resize with grid. 
*/
.product_row img,
.product_image_col img, .article img, .blog_content img, .section img,
.thumbnail img, .logo img, .page img, .sidebar img, .cart_image img, .sub-footer img {
    max-width: 100%;
    height: auto;
}

.zoomImg {
    max-width: inherit !important;
    cursor: pointer;
}

/* #Videos
================================================== */
/*
  For YouTube and Vimeo videos, wrap the embedded code snippet
  in a <div class="video-container"><div> tags to allow it to resize.
  For example:
  <div class="video-container youtube">
    <div>
     <iframe width="853" height="480" src="http://www.youtube.com/embed/mSfXRb4W-R0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
*/
.video-container > div {
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vimeo {
    max-width: 830px;
}

.vimeo > div {
    padding-top: 56.26506%; /* 467 ÷ 830 */
}

.youtube {
    max-width: 853px;
}

.youtube > div {
    padding-top: 56.271981%; /* 480 ÷ 853 */
}

.slideshow-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}

.slideshow-video-container iframe, 
.slideshow-video-container object,
.slideshow-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    width: 600px;
    max-width: 100%;
}

/* #Buttons
================================================== */

a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.action_button, 
a.action_button, 
input.action_button[type="submit"],
input.action_button[type="button"] {
    background: #ed7638;
    color: #ffffff;
    border: 0;
    padding: 16px 20px 12px 20px;
    text-align: center;
    cursor: pointer;

    font-family: "Just Another Hand";

    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -3px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.button:hover, 
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.action_button:hover, 
input.action_button[type="submit"]:hover, 
input.action_button[type="button"]:hover {
    background: #c2c2c2;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
}

a.button:active, 
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.action_button:active, 
input.action_button[type="submit"]:active, 
input.action_button[type="button"]:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

.add_to_cart, #cart_form .add_to_cart, form.product_form input.add_to_cart {
    width: 100%;
    margin-top: 0px;
}

#cart a.action_button.edit_cart {
    width: 180px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #444;
    color: #ffffff;
    text-align: center;
    text-indent: 0;
}

#cart .action_button {
    width: 180px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #ed7638;
    color: #ffffff;
    text-align: center;
    text-indent: 0;
}

/* #Tabs
================================================== */
ul.tabs {
    display: block;
    margin: 10px 0 10px 0;
    padding: 0;
    border-bottom: solid 1px #ded6c7;
    border-top: 0;
    list-style: none outside;
    margin-left: 0;
}

ul.tabs li {
    display: block;
    width: auto;
    height: 30px;
    padding: 0;
    float: left;
    margin-bottom: 0;
    border: 0 
    list-style: none outside;
    margin-left: 0;
}

ul.tabs li a {
    display: block;
    text-decoration: none;
    width: auto;
    height: 29px;
    padding: 0px 20px;
    line-height: 30px;
    border-width: 1px 0 0 1px;
    margin: 0;
    font-size: 13px;
}

ul.tabs li a.active {
    border: solid 1px #ded6c7;

    background-color: ;
    border-bottom: ;

    height: 30px;
    position: relative;
    top: -4px;
    padding-top: 4px;
    border-right-width: 1px;
    margin: 0 -1px 0 0;
    color: #111;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

ul.tabs li:first-child a {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

ul.tabs li:last-child a {
    border-width: 1px 1px 0 1px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

ul.tabs-content {
    margin: 0;
    display: block;
    border: 0;
}

ul.tabs-content > li {
    display: none;
    border: 0;
}

ul.tabs-content > li.active {
    display: block;
    border: 0;
}

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

ul.tabs:after {
    clear: both;
}

ul.tabs {
    zoom: 1;
}

/* #Forms
================================================== */
form {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}

input[type="text"], 
input[type="number"],
input[type="password"],
input[type="email"],
textarea, 
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 12px 8px 12px 12px;
    outline: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    width: 100%;
    margin: 0;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
    transition: border-color 0.2s linear, box-shadow 0.2s ease;
    -webkit-transition: border-color 0.2s linear, box-shadow 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

select {
    background: #fff url(//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/select.png?15202599147920040163) no-repeat right center;
    cursor: pointer;
    -webkit-padding-end: 30px;
    background-size: 17px 5px;
}

input[type="number"] {
    padding: 5px;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="email"]:hover, 
textarea:hover,
select:hover {
    border-color: rgb(138, 137, 138);
    -webkit-box-shadow: rgba(55, 55, 55, 0) 0px 0px 0px 1px;
    box-shadow: rgba(55, 55, 55, 0) 0px 0px 0px 1px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus, 
textarea:focus,
select:focus {
    border-color: rgb(138, 137, 138);
    color: #333;
}

label,
legend {
    display: block;
    font-weight: normal;
    margin-bottom: 4px;
}

input[type="checkbox"] {
    display: inline;
}

label span,
legend span {
    font-weight: normal;
    font-size: 13px;
}

textarea {
    width: 100%;
}

#contact_email {
    margin-bottom: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#sign_up {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1em;
}

.quantity_label {
    display: inline;
    font-size: smaller;
}

.remove_item a {
    font-size: smaller;
    color: #404040;
}

input.quantity {
    width: 42px;
    display: inline;
    margin-bottom: 0;
}

.cart_items p {
    margin-bottom: 5px;
}

li.cart_item a {
    text-indent: 0 !important;
}

li.cart_item a .price {
    top: -10px;
    position: relative;
}

.cart_image {
    padding: 10px 20px 0 20px;
    width: 100px;
    text-align: center;
    float: left;
}

.continue_shopping {
    float: right;
    padding-top: 5px;
}

#get-rates-submit {
    margin-top: -1px;
}

/* #Tables
================================================== */



table tr.order_summary td.label {
    text-align: right;
}

table {
    margin-bottom: 20px;
}

/* #Misc
================================================== */
.hidden {
    display: none;
}

.remove {
    color: #404040;
}

.relative {
    position: relative;
}

.half-bottom {
    margin-bottom: 10px !important;
}

.add-bottom {
    margin-bottom: 20px !important;
}

.right {
    float: right;
    position: relative;
}

.left {
    float: left;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.align_right {
    text-align: right 
}

.align_left {
    text-align: left;
}

.container div.mobile_only, span.mobile_only {
    display: none;
}

.no_border {
    border: none !important;
}

.extra_padding {
    padding-top: 4px;
}

div.hidden {
    display: none;
}

#grid .column,
#grid .columns {
    background: #ddd;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #555;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#grid .column:hover,
#grid .columns:hover {
    background: #bbb;
    color: #333;
}

#grid .example-grid {
    overflow: hidden;
}

/* #Site Styles
================================================== */
div.container {
    margin: 0 auto;
    padding: 20px 0;
}

div.content {
    padding: 115px 0px 0px 0px;

    background-color: ;

}

.logo a {
    margin: 0;
    padding-top: 0px;
    display: block;
}

div.section {
    margin: 10px 0;
}

.homepage_content {

    background-color: #ede9dd;

}

.container .featured_links .column {
    margin-bottom: 20px;
}

.featured_links .image_container {
    position: relative;
    background-color: #000;
    line-height: 0;
}

.featured_links a img {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.featured_links a:hover img {
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.featured_links a span {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 40px;
    text-align: center;
    padding: 0 10px;
    color: #fffcfc;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    z-index: 2;

    font-family: "Just Another Hand";

    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0.9;
    -webkit-font-smoothing: antialiased;
}

.featured_links a span::before,
.featured_links a span::after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    background: rgba(255, 255, 255, 0.9);
    content: '';
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.featured_links a span::before {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}

.featured_links a span::after {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px);
}

.featured_links a:hover span,
.featured_links a:focus span {
    color: #fffcfc;
    opacity: 1;
}

.featured_links a:hover span::before,
.featured_links a:hover span::after,
.featured_links a:focus span::before,
.featured_links a:focus span::after {
    background: rgba(255, 255, 255, 0.6);
}

.featured_links a:hover span::before,
.featured_links a:focus span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.featured_links a:hover span::after,
.featured_links a:focus span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div.product_section {
    margin: 5px 0;
}

div.container div.breadcrumb {
    margin-bottom: 1.5em;
    font-size: 13px;
}

.continue_shopping {
    float: right;
    font-size: 13px;
}

.vendor {
    margin-top: -15px;
}

#category {
    width: 100%;
}

.featured_content p {
    margin-bottom: 0;
}

.paginate {
    text-align: center;
}

.paginate span, a.tag {
    border: solid 1px #ded6c7;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 2px;
    padding: 5px 10px;
    display: inline-block;
}

a.tag {
    font-size: smaller;
    padding: 4px 6px;
    margin: 5px 2px 5px 0;
}

.featured_collections {
    margin-bottom: 10px 
}

.paginate span:hover, a.tag:hover {
    color: #48494a;
}

.paginate .current {
    background-color: #ebe1c3;
}

.paginate .deco {
    border: none;
}

.thumbnail {
    position: relative;
    text-align: center;
    margin-bottom: 1em;
}

.featured_collections .thumbnail {
    text-align: center;
}

.thumbnail a {
    display: block;
    padding-bottom: 0.5em;
    color: #404040;
}

.thumbnail a:hover {
    color: #000000;
}

.thumbnail .info {
    text-align: left;
}

.new {
    position: relative;
    display: inline;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
}

.thumbnail img {
    margin-bottom: 0.75em;
}

.thumbnail .price, .thumbnail .sold_out, .sold_out {
    font-weight: bold;
    color: #404040;
}

.thumbnail .sale, .sale {
    color: #49ba32;
}

.sale_banner, .new_banner {
    position: absolute;
    top: 25px;
    left: -5px;
    background: #282c30;

    font-family: "Just Another Hand";

    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;

    padding: 10px;
    text-align: center;
    color: #fff;
}

.new_banner {
    background: #282c30;
}

.thumbnail .price, .thumbnail .title {
    display: block
}

.cart_price {
    float: right;
    text-align: right;
    padding-left: 20px;
    font-weight: bold;
    display: none;
}

#estimated-shipping, .excluding_tax {
    display: block;
}

.cart_page_image {
    float: left;
    margin-right: 20px;
    text-align: center;
    display: block;
    width: 100%;
}

.price_total_text {
    font-weight: normal;
    display: none;
}

.was_price {
    text-decoration: line-through;
    color: #9da6ae;
    font-style: italic;
    text-shadow: none;
    font-weight: normal;
}

.thumbnail .quick_shop {
    display: none;
    padding: 5px 0;
    background-color: #888;
    position: absolute;
    width: 100%;
    bottom: 18px;
    left: 0;
    text-align: center;
    color: #fff;
    opacity: 0.85;
}

.thumbnail .quick_shop:hover {
    color: #ffffff;
    background-color: #ed7638;
    opacity: 0.95;
}

.thumbnails a {
    display: block;
    margin-bottom: 1em;
}

.twittercont, .fancycount {
    display: inline-block;
    margin-left: 6px;
}

.facebookcont {
    display: inline-block;
    position: relative;
    margin-left: 6px;
    min-width: 88px;
}

a.fancybutton {
    background: url(//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/fancy.png?15202599147920040163) no-repeat;
    font: 11px Arial, sans-serif;
    text-indent: -9999em;
    font-size: .01em;
    color: #cd1f1f;
    height: 20px;
    width: 56px;
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: -20px;
}

a.pinterestcount {
    background: url(//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/pinit.png?15202599147920040163) no-repeat;
    font: 11px Arial, sans-serif;
    text-indent: -9999em;
    font-size: .01em;
    color: #cd1f1f;
    height: 20px;
    width: 41px;
    background-position: 0 0;
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: -20px;
}

a.pinterestcount:hover {
    background-position: 0 -21px;
}

a.pinterestcount:active {
    background-position: 0 -42px;
}

.arrow {
    font-size: smaller;
    position: relative;
    top: -1px;
    left: 2px;
    opacity: 0.6;
}

.modal {
    margin: 10px 0;
    display: none;
    background-color: #ffffff;
}

.modal_product {
    width: auto;
    line-height: 0px;
    max-width: 940px;
}

.modal_product img {
    cursor: pointer;
}

.modal_image {
    text-align: center;
}

.modal a {
    padding-bottom: 0;
}

.modal p.modal_price, p.modal_price {
    font-size: 22px;
    margin-bottom: 1em;
}

.modal form {
    margin-bottom: 10px;
}

.modal a {
    color: #000000;
    font-style: italic;
}

.modal a:hover {
    color: #48494a;
}

.notify_form .submit {
    padding: 8px 8px !important;
}

.product_image_col {
    margin-top: 15px;
    text-align: center;
}

.meta {
    font-size: 13px;
}

.meta p {
    font-size: 13px;
    margin-bottom: 0px;
}

p.meta {
    margin-bottom: 10px;
}

.comment-body p.meta {
    margin-bottom: 5px;
}

.comment-body h6 {
    padding-top: 0;
}

.sidebar_title {
    margin-bottom: 0;
}

.blog_list {
    margin-left: 0
}

.recent_articles {
    padding-top: 10px;
}

.recent_articles li {
    padding: 10px 0px
}

.recent_articles a {
    font-size: 13px;
    padding-right: 15px;
    display: block;
}

.blog_list li {
    list-style: none;
}

.toggle span {
    color: #9da6ae;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: smaller;
    float: right;
    display: none;
}

.sidebar p {
    font-size: 13px;
}

.sidebar .search {
    padding-top: 8px;
}

.sidebar .search input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.meta .label, .label {
    color: #9da6ae;
}

.blog_meta, .blog_meta a {
    color: #9da6ae;
}

.blog_meta a:hover {
    color: #48494a;
}

.blog_meta p {
    padding-right: 40px;
}

.container .blog_content {
    padding-left: 40px;
    border-left: solid 1px #ded6c7;
}

.count {
    font-style: normal;
    font-size: 13px;
}

#tag_filter {
    margin-bottom: 0;
    float: right;
    width: auto;
    display: block;
}

.checkout {
    display: block;
    float: right;
    margin-top: 0px;
}

.or {
    font-size: smaller;
    font-style: italic;
    padding: 0 10px;
}

.inline_purchase {
    display: inline-block;
    margin-left: 20px;
    margin-top: 22px;
}

div.article {
    margin-bottom: 35px;
}

.comment {
    margin-bottom: 20px;
}

.comment-body h6 {
    padding-bottom: 0.25em;
}

.gravatar {
    width: 100px !important;
}

.gravatar img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
}

.red {
    color: #C33;
}

.address p {
    margin-bottom: 5px;
}

div#disqus_thread ul, div#disqus_thread li {
    border: none;
}

.search_page {
    padding: 40px 0 60px 0;
}

.tweet .columns {
    overflow: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/* #Footer
================================================== */
div.footer {
    background-color: #ede9dd;
    font-size: 12px;
    line-height: 1.7em;
    color: #404040;
    padding-top: 15px;
}

.sub-footer {
    margin-top: 2.5em;
    border-top: solid 1px #ede9dd;
    background-color: #f9f7f3;
}

.sub-footer p {
    margin-bottom: 10px;
    font-size: 13px;
}

.sub-footer a {
    font-size: 13px;
}

.footer a {
    color: #404040;
}

.footer a:hover {
    color: #e77737;
}

.contact-form {
    margin-bottom: 0;
}

.payment_methods img {
    padding-left: 4px;
    height: 26px;
    width: 38px;
    position: relative;
    top: -2px;
}

.credits_right {
    text-align: right;
}

.sub-footer ul {
    list-style: none outside;
    margin-left: 0;
}

.sub-footer li {
    padding: 5px 0;
    list-style: none outside none;
    margin-bottom: 0;
}

/*
  Animations
*/
html.mmenu-opened .mmenu-page,
html.mmenu-opened #mmenu-blocker,
.mmenu.mmenu-horizontal ul
{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

html.mmenu-opened .mmenu-page,
html.mmenu-opened #mmenu-blocker
{
    -webkit-transition-property: top, right, bottom, left, margin;
    -moz-transition-property: top, right, bottom, left, margin;
    -o-transition-property: top, right, bottom, left, margin;
    transition-property: top, right, bottom, left, margin;
}

.mmenu.mmenu-horizontal ul
{
    -webkit-transition-property: margin-left;
    -moz-transition-property: margin-left;
    -o-transition-property: margin-left;
    transition-property: margin-left;
}

html.mmenu-accelerated.mmenu-opening .mmenu-page,
html.mmenu-accelerated.mmenu-opening #mmenu-blocker,
html.mmenu-accelerated.mmenu-opening .mmenu.mmenu-horizontal ul
{
    -webkit-transform: translate3d( 0, 0, 0 );
    -moz-transform: translate3d( 0, 0, 0 );
    -o-transform: translate3d( 0, 0, 0 );
    transform: translate3d( 0, 0, 0 );
}

/* top */
html.mmenu-top.mmenu-opened .mmenu-page,
html.mmenu-top.mmenu-opened #mmenu-blocker
{
    margin-top: 0px;
    top: 0%;
    left: 0;
}

html.mmenu-top.mmenu-opening .mmenu-page,
html.mmenu-top.mmenu-opening #mmenu-blocker
{
    margin-top: -65px;
    top: 100%;
}

/* right */
html.mmenu-right.mmenu-opened .mmenu-page,
html.mmenu-right.mmenu-opened #mmenu-blocker
{
    margin-right: 0px;
    right: 0%;
    top: 0;
}

html.mmenu-right.mmenu-opening .mmenu-page,
html.mmenu-right.mmenu-opening #mmenu-blocker
{
    margin-right: -65px;
    right: 100%;
}

/* bottom */
html.mmenu-bottom.mmenu-opened .mmenu-page,
html.mmenu-bottom.mmenu-opened #mmenu-blocker
{
    margin-bottom: 0px;
    bottom: 0%;
    left: 0;
}

html.mmenu-bottom.mmenu-opening .mmenu-page,
html.mmenu-bottom.mmenu-opening #mmenu-blocker
{
    margin-bottom: -65px;
    bottom: 100%;
}

/* left */
html.mmenu-left.mmenu-opened .mmenu-page,
html.mmenu-left.mmenu-opened #mmenu-blocker
{
    margin-left: 0px;
    left: 0%;
    top: 0;
}

html.mmenu-left.mmenu-opening .mmenu-page,
html.mmenu-left.mmenu-opening #mmenu-blocker
{
    margin-left: -65px;
    left: 100%;
}

/*
  mmenu
*/
html.mmenu-opened .mmenu-page,
.mmenu.mmenu-horizontal ul,
.mmenu div.mmenu-search,
.mmenu div.mmenu-search input
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* html/body */
html.mmenu-opened,
html.mmenu-opened body
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html.mmenu-opened body
{
    position: relative;
}

/* menu */
.mmenu
{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.mmenu:after {
    content: '';
    display: block;
    clear: both;
}

.mmenu.mmenu-opened
{
    display: block;
}

.mmenu.mmenu-opened ~ .mmenu.mmenu-opened
{
    display: none;
}

/* ul/li */
.mmenu ul,
.mmenu li
{
    list-style: none;
}

.mmenu li
{
    position: relative;
}

.mmenu li:after
{
    content: '';
    display: block;
    width: 100%;
}

.mmenu ul,
.mmenu li,
.mmenu li > a,
.mmenu li > span
{
    display: block;
    padding: 0;
    margin: 0;
}

.mmenu a
{
    background: transparent;
}

.mmenu > ul
{
    background: inherit;
    padding: 20px 0 40px 0;
}

.mmenu.mmenu-top > ul
{
    padding-bottom: 85px;
}

.mmenu.mmenu-right > ul
{
    padding-left: 65px;
}

.mmenu.mmenu-bottom > ul
{
    padding-top: 85px;
}

.mmenu.mmenu-left > ul
{
    padding-right: 65px;
}

/* items */
.mmenu li > a,
.mmenu li > span
{
    text-indent: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    overflow: hidden;
    padding-right: 5px;
}

.mmenu a:active
{
    background: none;
}

/* subopen/close */
.mmenu a.mmenu-subopen
{
    width: 40px;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.mmenu a.mmenu-subopen.mmenu-fullsubopen
{
    border-left: none;
    width: 100%;
}

.mmenu a.mmenu-subclose, .mmenu a.close
{
    text-indent: 40px;
    padding-top: 20px;
}

.mmenu a.mmenu-subopen + a,
.mmenu a.mmenu-subopen + span
{
    padding-right: 45px;
}

/* page + blocker */
html.mmenu-opened .mmenu-page
{
    background: inherit;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#mmenu-blocker
{
    background: #fff;
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
}

html.mmenu-opened #mmenu-blocker,
html.mmenu-blocking #mmenu-blocker
{
    display: block;
}

/* vertical submenu */
.mmenu.mmenu-vertical ul ul
{
    display: none;
    padding: 10px 0 10px 10px;
}

.mmenu.mmenu-vertical li.mmenu-opened > ul
{
    display: block;
}

.mmenu.mmenu-vertical ul ul li:last-child,
.mmenu.mmenu-vertical ul ul li:last-child:after
{
    border-bottom-width: 0;
}

.mmenu.mmenu-vertical li.mmenu-opened.mmenu-selected > a.mmenu-subopen + a,
.mmenu.mmenu-vertical li.mmenu-opened.mmenu-selected > a.mmenu-subopen + span
{
    padding-right: 5px;
    margin-right: 40px;
}

.mmenu.mmenu-vertical li.mmenu-opened.mmenu-selected > em.mmenu-counter + a.mmenu-subopen + a,
.mmenu.mmenu-vertical li.mmenu-opened.mmenu-selected > em.mmenu-counter + a.mmenu-subopen + span
{
    margin-right: 75px;
}

/* horizontal submenu */
.mmenu.mmenu-horizontal
{
    width: 500%;
}

.mmenu.mmenu-horizontal ul
{
    width: 20%;
    margin-left: 0%;
    float: left;
}

.mmenu.mmenu-horizontal ul.mmenu-submenu
{
    display: none;
}

.mmenu.mmenu-horizontal ul.mmenu-submenu.mmenu-opened
{
    display: block;
}

.mmenu.mmenu-horizontal ul.mmenu-subopening
{
    margin-left: -20%;
    height: 100%;
    overflow: hidden;
}

/*
  Menu, submenus, items
  - Styling (default: dark background)
*/
.mmenu
{
    background: #333;
}

.mmenu *
{
    -webkit-text-size-adjust: none;
    text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.4 );
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.mmenu li
{
    border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
}

.mmenu li:after
{
    border-bottom: 1px solid rgba( 0, 0, 0, 0.3 );
}

.mmenu li,
.mmenu li > a,
.mmenu li > span
{
    color: rgba( 255, 255, 255, 0.6 );
    text-decoration: none;
}

.mmenu li.mmenu-selected > a,
.mmenu li.mmenu-selected > span
{
    background: rgba( 0, 0, 0, 0.2 );
}

.mmenu li.mmenu-selected > a.mmenu-subopen
{
    background: transparent;
}

/* subopen/close */
.mmenu a.mmenu-subopen
{
    border-left: 1px solid rgba( 0, 0, 0, 0.3 );
}

.mmenu a.mmenu-subclose, .mmenu a.close
{
    background: rgba( 0, 0, 0, 0.2 );
}

.mmenu a.continue {
    margin-top: -30px;
}

/* vertical submenu */
.mmenu.mmenu-vertical li.mmenu-opened > a.mmenu-subopen,
.mmenu.mmenu-vertical li.mmenu-opened > ul
{
    background: rgba( 255, 255, 255, 0.06 );
}

/* page + blocker */
html.mmenu-opened .mmenu-page
{
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.8 );
}

/*
  Labels
  - Sizing and positioning
*/
.mmenu li.mmenu-label
{
    text-transform: uppercase;
    text-indent: 20px;
    line-height: 20px;
}

/*
  Labels
  - Styling
*/
.mmenu li.mmenu-label
{
    background: rgba( 255, 255, 255, 0.1 );
    font-size: 12px;
    color: rgba( 255, 255, 255, 0.5 );
}

/*
  Counters
  - Sizing and positioning
*/
.mmenu em.mmenu-counter,
em.subtotal
{
    text-indent: 0;
    text-align: center;
    text-shadow: none;
    line-height: 20px;
    display: block;
    min-width: 20px;
    height: 20px;
    padding: 2px 5px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.mmenu em.mmenu-counter + a.mmenu-subopen
{
    padding-left: 35px;
}

.mmenu em.mmenu-counter + a.mmenu-subopen + a,
.mmenu em.mmenu-counter + a.mmenu-subopen + span
{
    padding-right: 80px;
}

.mmenu em.mmenu-counter + a.mmenu-fullsubopen + a,
.mmenu em.mmenu-counter + a.mmenu-fullsubopen + span
{
    padding-right: 70px;
}

/*
  Counters
  - Styling
*/
.mmenu em.mmenu-counter, em.subtotal
{
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 0 2px rgba( 0, 0, 0, 0.3 );
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    color: rgba( 255, 255, 255, 0.8 );
}

/*
  Arrows
  - Sizing and positioning
*/
.mmenu a.mmenu-subopen:after,
.mmenu a.mmenu-subclose:before,
.mmenu a.close:before
{
    content: '';
    border-width: 4px;
    border-style: solid;
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;

    -webkit-transform: rotate( -45deg );
    -moz-transform: rotate( -45deg );
    -o-transform: rotate( -45deg );
    transform: rotate( -45deg );
}

.mmenu a.mmenu-subopen:after
{
    border-top: none;
    border-left: none;
    right: 16px;
    top: 16px;
}

.mmenu a.mmenu-subclose:before, .mmenu a.close:before
{
    border-right: none;
    border-bottom: none;
    left: 20px;
    top: 35px;
}

.mmenu.mmenu-vertical li.mmenu-opened > a.mmenu-subopen:after
{
    -webkit-transform: rotate( 45deg );
    -moz-transform: rotate( 45deg );
    -o-transform: rotate( 45deg );
    transform: rotate( 45deg );
}

/*
  Arrows
  - Styling
*/
.mmenu a.mmenu-subopen:after,
.mmenu a.mmenu-subclose:before,
.mmenu a.close:before
{
    border-color: rgba( 255, 255, 255, 0.3 );
}

/*
  Search
  - Sizing and positioning
*/
.mmenu div.mmenu-search
{
    width: 20%;
    height: 50px;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.mmenu.mmenu-vertical div.mmenu-search
{
    width: 100%;
}

.mmenu.mmenu-right div.mmenu-search
{
    padding-left: 75px;
}

.mmenu.mmenu-bottom div.mmenu-search
{
    top: 65px;
}

.mmenu.mmenu-left div.mmenu-search
{
    padding-right: 75px;
}

.mmenu div.mmenu-search input
{
    border: none;
    border-radius: 15px;
    line-height: 30px;
    outline: none;
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 0 0 10px;
}

.mmenu li.mmenu-noresults
{
    border: none;
    display: none;
    padding-top: 30px;
}

.mmenu li.mmenu-noresults:after
{
    border: none;
}

.mmenu.mmenu-noresults li.mmenu-noresults
{
    display: block;
}

.mmenu div.mmenu-search ~ ul
{
    padding-top: 50px;
}

.mmenu .mmenu-noresult,
.mmenu .mmenu-nosubresult > a.mmenu-subopen,
.mmenu .mmenu-nosubresult > em.mmenu-counter
{
    display: none;
}

.mmenu .mmenu-nosubresult > a.mmenu-subopen + a, 
.mmenu .mmenu-nosubresult > a.mmenu-subopen + span
{
    padding-right: 5px;
}

/*
  Search
  - Styling
*/
.mmenu div.mmenu-search
{
    background: rgba( 0, 0, 0, 0.2 );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
}

.mmenu div.mmenu-search input
{
    background: rgba( 255, 255, 255, 0.3 );
    color: rgba( 255, 255, 255, 0.9 );
}

.mmenu li.mmenu-noresults
{
    color: rgba( 255, 255, 255, 0.4 );
    text-align: center;
}

/*
  Bugfix for browsers without support for overflowscrolling
    - Android < 3
*/
html.mmenu-no-overflowscrolling.mmenu-opened,
html.mmenu-no-overflowscrolling.mmenu-opened body
{
    overflow: visible;
}

html.mmenu-no-overflowscrolling.mmenu-opened body
{
    overflow-x: hidden;
}

html.mmenu-no-overflowscrolling.mmenu-opened .mmenu-page
{
    min-height: 200%;
    position: fixed;
    top: 0;
    z-index: 3;
}

html.mmenu-no-overflowscrolling .mmenu
{
    height: auto;
    min-height: 100%;
    overflow: default;
    overflow-x: default;
    overflow-y: default;
    position: relative;
    left: auto;
    top: auto;
}

html.mmenu-no-overflowscrolling.mmenu-right .mmenu
{
    position: absolute;
}

/*
  Sizing and positioning for larger screens
*/
@media all and (min-width: 500px) {

    .mmenu.mmenu-left.mmenu-vertical,
    .mmenu.mmenu-right.mmenu-vertical,
    .mmenu.mmenu-left div.mmenu-search,
    .mmenu.mmenu-right div.mmenu-search
    {
        width: 500px;
    }

    .mmenu.mmenu-right.mmenu-vertical
    {
        left: auto;
        right: 0;
    }

    .mmenu.mmenu-left.mmenu-horizontal,
    .mmenu.mmenu-right.mmenu-horizontal
    {
        width: 2500px;
    }

    .mmenu.mmenu-right.mmenu-horizontal
    {
        left: auto;
        right: -2000px;
    }

    html.mmenu-left.mmenu-opening .mmenu-page,
    html.mmenu-left.mmenu-opening #mmenu-blocker
    {
        left: 500px;
    }

    html.mmenu-right.mmenu-opening .mmenu-page,
    html.mmenu-right.mmenu-opening #mmenu-blocker
    {
        right: 500px;
    }
}

/* #jQuery FlexSlider v2.1
================================================== */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav, .flex-direction-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

ul.slides li {
    border: none;
    padding: 0;
    margin-bottom: 0;
    position: relative;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#homepage_slider .slides img {
    width: 100%;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
    position: relative;
    zoom: 1;
    clear: both;
    overflow: hidden
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.flexslider .slides li {
    text-align: center
}

.carousel li {
    margin-right: 5px;
    border: 0
}

.flex-caption {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 25%;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .3);
}

.flexslider .headline {
    font-size: 48px;
    margin-bottom: 0.2em;
    line-height: 53px;
    font-weight: bold;
    position: relative;
}

.flexslider p.subtitle {
    font-size: 31px;
    line-height: 1.5em;
    font-weight: bold;
    position: relative;
}

.flex-caption .action_button {
    border: 2px solid rgba(255, 255, 255, .6);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1) !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    position: relative;
}

.flex-caption .action_button:hover {
    background-color: rgba(255, 255, 255, .2) !important;
    border-color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

/* Direction Nav */
.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    width: 60px;
    height: 60px;
    margin: -20px 0 0;
    display: block;
    background: url(//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/arrow_sprite.png?15202599147920040163) no-repeat 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
    background-position: 0 -120px;
    right: -36px;
}

.flex-direction-nav .flex-prev {
    background-position: 0 -60px;
    left: -36px;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px;
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: .3 !important;
    filter: alpha(opacity=30);
    cursor: default;
}

/* Control Nav */
.flex-control-nav {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.flex-control-nav li {
    margin: 0 0 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-nav li:first-child {
    margin: 0;
}

.flex-control-nav li a {
    width: 40px;
    height: 1px;
    display: block;
    opacity: 0.3;
    cursor: pointer;
    text-indent: -9999em;
    border: 3px solid #fff;
    background: #fff;
    overflow: hidden;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
}

.flex-control-nav li a.flex-active {
    opacity: 0.8;
    cursor: default;
}

.flex-control-thumbs {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-thumbs li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-thumbs {
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li, .flex-control-thumbs li:first-child {
    width: 16%;
    vertical-align: top;
    margin: 15px 5% 0 0;
}

.flex-control-thumbs li:nth-child(5n) {
    margin: 15px 0 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

.product_slider .flex-active-slide a:hover {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.product_slider {
    margin-bottom: 2em 
}

/* #Fancybox
================================================== */
/*! fancyBox v2.1.2 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background-color: #ffffff;
    color: #444;
    text-shadow: none;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/arrow_sprite.png?15202599147920040163');
    background-position: 0 -180px;
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -306px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/loader.gif?15202599147920040163') center center no-repeat;
    background-size: 32px 32px;
    display: block !important;
}

.fancybox-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 8040;
    background-position: 0 -30px;
}

.fancybox-close:hover {
    background-position: 0 0;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/blank.gif?15202599147920040163'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -180px;
}

.fancybox-prev span:hover {
    left: 10px;
    background-position: 0 -60px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -240px;
}

.fancybox-next span:hover {
    right: 10px;
    background-position: 0 -120px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/fancybox_overlay.png?15202599147920040163);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
    width: 100%;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -28px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 0px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
    width: 100%;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

/*
 Cloud Zoom CSS. (c)2012 Star Plugins.
*/
.cloudzoom-lens {
    border: none;
    border: 1px solid #888;
    width: 225px;
    height: 175px;
    box-shadow: -0px -0px 10px rgba(0, 0, 0, 0.40);
    cursor: pointer;
    z-index: 10;
}

.cloudzoom-zoom {
    border: 1px solid #888;
    box-shadow: -0px -0px 10px rgba(0, 0, 0, 0.40);
    background-color: #ffffff;
}

.cloudzoom-zoom-inside {
    border: none;
    box-shadow: none;
}

.cloudzoom-caption {
    display: none;
    text-align: left;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    font-family: sans-serif;
    font-size: 11px;
}

.cloudzoom-blank {
    background-image: url('//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/blank.gif?15202599147920040163');
}

div.cloudzoom-ajax-loader {
    display: none;
}

.cloudzoom-lens + div {
    display: none !important 
}

/*
* Layout
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing 
    #Media Queries */

/* #Base 1200 Grid
================================================== */

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.column, .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    margin-bottom: 20px;
}

/* Nested Column Classes */
.column.alpha, .columns.alpha {
    margin-left: 0;
}

.column.omega, .columns.omega {
    margin-right: 0;
}

/* Base Grid */
.container .one.column {
    width: 55px;
}

.container .two.columns {
    width: 130px;
}

.container .three.columns {
    width: 205px;
}

.container .four.columns {
    width: 280px;
}

.container .five.columns {
    width: 355px;
}

.container .six.columns {
    width: 430px;
}

.container .seven.columns {
    width: 505px;
}

.container .eight.columns {
    width: 580px;
}

.container .nine.columns {
    width: 655px;
}

.container .ten.columns {
    width: 730px;
}

.container .eleven.columns {
    width: 805px;
}

.container .twelve.columns {
    width: 880px;
}

.container .thirteen.columns {
    width: 955px;
}

.container .fourteen.columns {
    width: 1030px;
}

.container .fifteen.columns {
    width: 1105px;
}

.container .sixteen.columns {
    width: 1180px;
}

.container .one-third.column {
    width: 380px;
}

.container .two-thirds.column {
    width: 780px;
}

/* Offsets */
.container .offset-by-one {
    padding-left: 75px;
}

.container .offset-by-two {
    padding-left: 150px;
}

.container .offset-by-three {
    padding-left: 225px;
}

.container .offset-by-four {
    padding-left: 300px;
}

.container .offset-by-five {
    padding-left: 375px;
}

.container .offset-by-six {
    padding-left: 450px;
}

.container .offset-by-seven {
    padding-left: 525px;
}

.container .offset-by-eight {
    padding-left: 600px;
}

.container .offset-by-nine {
    padding-left: 675px;
}

.container .offset-by-ten {
    padding-left: 750px;
}

.container .offset-by-eleven {
    padding-left: 825px;
}

.container .offset-by-twelve {
    padding-left: 900px;
}

.container .offset-by-thirteen {
    padding-left: 975px;
}

.container .offset-by-fourteen {
    padding-left: 1050px;
}

.container .offset-by-fifteen {
    padding-left: 1125px;
}

/* #Base 960 Grid
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .container {
        position: relative;
        width: 960px;
        margin: 0 auto;
        padding: 0;
    }

    .container .column,
    .container .columns {
        float: left;
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }

    .row {
        margin-bottom: 20px;
    }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha {
        margin-left: 0;
    }

    .column.omega, .columns.omega {
        margin-right: 0;
    }

    /* Base Grid */
    .container .one.column,
    .container .one.columns {
        width: 40px;
    }

    .container .two.columns {
        width: 100px;
    }

    .container .three.columns {
        width: 160px;
    }

    .container .four.columns {
        width: 220px;
    }

    .container .five.columns {
        width: 280px;
    }

    .container .six.columns {
        width: 340px;
    }

    .container .seven.columns {
        width: 400px;
    }

    .container .eight.columns {
        width: 460px;
    }

    .container .nine.columns {
        width: 520px;
    }

    .container .ten.columns {
        width: 580px;
    }

    .container .eleven.columns {
        width: 640px;
    }

    .container .twelve.columns {
        width: 700px;
    }

    .container .thirteen.columns {
        width: 760px;
    }

    .container .fourteen.columns {
        width: 820px;
    }

    .container .fifteen.columns {
        width: 880px;
    }

    .container .sixteen.columns {
        width: 940px;
    }

    .container .one-third.column {
        width: 300px;
    }

    .container .two-thirds.column {
        width: 620px;
    }

    /* Offsets */
    .container .offset-by-one {
        padding-left: 60px;
    }

    .container .offset-by-two {
        padding-left: 120px;
    }

    .container .offset-by-three {
        padding-left: 180px;
    }

    .container .offset-by-four {
        padding-left: 240px;
    }

    .container .offset-by-five {
        padding-left: 300px;
    }

    .container .offset-by-six {
        padding-left: 360px;
    }

    .container .offset-by-seven {
        padding-left: 420px;
    }

    .container .offset-by-eight {
        padding-left: 480px;
    }

    .container .offset-by-nine {
        padding-left: 540px;
    }

    .container .offset-by-ten {
        padding-left: 600px;
    }

    .container .offset-by-eleven {
        padding-left: 660px;
    }

    .container .offset-by-twelve {
        padding-left: 720px;
    }

    .container .offset-by-thirteen {
        padding-left: 780px;
    }

    .container .offset-by-fourteen {
        padding-left: 840px;
    }

    .container .offset-by-fifteen {
        padding-left: 900px;
    }
}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }

    .container .column,
    .container .columns {
        margin-left: 10px;
        margin-right: 10px;
    }

    .column.alpha, .columns.alpha {
        margin-left: 0;
        margin-right: 10px;
    }

    .column.omega, .columns.omega {
        margin-right: 0;
        margin-left: 10px;
    }

    .alpha.omega {
        margin-left: 0;
        margin-right: 0;
    }

    .container .one.column,
    .container .one.columns {
        width: 28px;
    }

    .container .two.columns {
        width: 76px;
    }

    .container .three.columns {
        width: 124px;
    }

    .container .four.columns {
        width: 172px;
    }

    .container .five.columns {
        width: 220px;
    }

    .container .six.columns {
        width: 268px;
    }

    .container .seven.columns {
        width: 316px;
    }

    .container .eight.columns {
        width: 364px;
    }

    .container .nine.columns {
        width: 412px;
    }

    .container .ten.columns {
        width: 460px;
    }

    .container .eleven.columns {
        width: 508px;
    }

    .container .twelve.columns {
        width: 556px;
    }

    .container .thirteen.columns {
        width: 604px;
    }

    .container .fourteen.columns {
        width: 652px;
    }

    .container .fifteen.columns {
        width: 700px;
    }

    .container .sixteen.columns {
        width: 748px;
    }

    .container .one-third.column {
        width: 236px;
    }

    .container .two-thirds.column {
        width: 492px;
    }

    /* Offsets */
    .container .offset-by-one {
        padding-left: 48px;
    }

    .container .offset-by-two {
        padding-left: 96px;
    }

    .container .offset-by-three {
        padding-left: 144px;
    }

    .container .offset-by-four {
        padding-left: 192px;
    }

    .container .offset-by-five {
        padding-left: 240px;
    }

    .container .offset-by-six {
        padding-left: 288px;
    }

    .container .offset-by-seven {
        padding-left: 336px;
    }

    .container .offset-by-eight {
        padding-left: 384px;
    }

    .container .offset-by-nine {
        padding-left: 432px;
    }

    .container .offset-by-ten {
        padding-left: 480px;
    }

    .container .offset-by-eleven {
        padding-left: 528px;
    }

    .container .offset-by-twelve {
        padding-left: 576px;
    }

    .container .offset-by-thirteen {
        padding-left: 624px;
    }

    .container .offset-by-fourteen {
        padding-left: 672px;
    }

    .container .offset-by-fifteen {
        padding-left: 720px;
    }
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }

    .container .columns,
    .container .column {
        margin: 0;
    }

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column {
        width: 300px;
    }

    /* Offsets */
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen {
        padding-left: 0;
    }
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 420px;
    }

    .container .columns,
    .container .column {
        margin: 0;
    }

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column {
        width: 420px;
    }
}

/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .collection_menu {
        display: none;
    }

    #tag_filter {
        display: block;
    }

    h1.collection_title_tags, div.collection_title_tags {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
    }

    .cloudzoom-lens {
        width: 140px;
        height: 120px;
    }
}

/* Standard 960 to widescreen 1200(desktop browsers) */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .nav ul li {
        padding: 0 7px 0 7px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .nav ul.menu li {
        padding: 10px 3px 10px 3px;
    }

    .dropdown {
        left: 3px;
    }

    .nav ul li .cart-button {
        background-color: transparent;
        padding: 0;
        color: #ffffff !important;
    }

    .header_bar .nav ul li .cart-button {
        color: #404040 !important;
    }

    .nav ul li .cart-button span {
        display: none 
    }

    .cart_count {
        top: -6px;
        left: 10px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .mobile_hidden {
        display: none !important 
    }

    table tr.order_summary td.label {
        text-align: left 
    }

    .index .logo a, .index .logo a:hover, .index .logo a:visited, .index .logo a:active {
        color: #303030;
    }

    #cart a.action_button.edit_cart {
        width: 120px;
    }

    #cart .action_button {
        width: 120px;
    }

    .cart_count {
        left: 8px;
    }

    .breadcrumb {
        text-align: center;
        margin-bottom: 1.5em;
    }

    .featured_text {
        font-size: 14px;
        line-height: 1.7em;
        text-align: center;
    }

    div.content {
        padding-top: 30px;
    }

    #header {
        display: block;
    }

    .header {
        position: relative;
        margin-top: 32px;
        text-align: center;
    }

    .toggle span {
        display: block;
    }

    .toggle_list {
        display: none;
    }

    select {
        width: 100%;
    }

    .flexslider a.action_button {
        width: initial;
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    input.action_button[type="submit"], 
    input.action_button[type="button"],
    #sign_up {
        margin-left: 0;
        width: 100%;
    }

    .cart_icons, .or {
        display: none;
    }

    .credits_right {
        text-align: left;
    }

    .container .column.thumbnail, .container .columns.thumbnail {
        margin-top: 1em;
    }

    table[style] {
        width: auto !important;
        max-width: 100% !important;
        overflow: hidden;
    }

    tr, td {
        display: block;
        width: 99% !important;
        max-width: 99% !important;
        padding: 0px !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    tr {
        padding-bottom: 6px !important;
    }

    td {
        padding: 4px !important;
    }

    .title_column {
        float: left;
    }

    .container div.mobile_only {
        display: block;
    }

    span.mobile_only {
        display: inline;
    }

    .price_total {
        text-align: right;
    }

    .price_total_text {
        display: block;
    }

    .update_subtotal, .price_total, .remove_column, .checkout_table_header {
        display: none;
    }

    .mobile_right {
        text-align: right;
    }

    .quick_shop {
        display: none !important;
    }

    .cart_price {
        display: block;
        margin-bottom: 0;
    }

    table tr th, table tr td {
        padding: 2px;
    }

    input.action_button {
        margin-bottom: 1em !important;
    }

    .multiple_product_images {
        display: none;
    }

    .flex-caption {
        top: 0;
    }

    .flex-caption .headline {
        font-size: 1.5em;
        line-height: 1.5em;
        position: relative;
    }

    .flex-caption p.subtitle {
        font-size: 1.1em;
        line-height: 1.5em;
        position: relative;
    }

    .container .blog_content {
        padding-left: 0;
        border: 0;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mobile_hidden {
        display: none !important 
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .mobile_hidden {
        display: none !important 
    }

    .cart_image {
        width: 50px;
        padding-right: 10px 
    }

    #cart a.action_button.edit_cart {
        width: inherit;
        padding: 0px 12px;
    }

    #cart .action_button {
        width: inherit;
        padding: 0px 12px;
    }

    .flex-caption .headline, .flex-caption p.subtitle {
        font-size: 1.1em;
        font-height: 1.1em;
    }

    .flex-caption p.subtitle {
        font-size: 0.9em;
        line-height: 1.5em;
        margin-bottom: 1em;
    }

    .flex-caption .action_button {
        padding: 4px 15px;
        font-size: 12px;
    }

    .flex-direction-nav .flex-prev {
        display: none;
    }

    .flex-direction-nav .flex-next {
        display: none;
    }

    h1, h2, h1.home, h1.blog_title, h3, h4, h5, h6, .title a {
        font-size: 150%;
    }

    h1, h1.home, h1.blog_title, .title a, h2 {
        padding: 0;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    html {
        -webkit-text-size-adjust: 100%;
    }
}

.social_buttons, .social_buttons a {
    color: #9da6ae !important;
}

.social_buttons a {
    padding-left: 5px;
}

.social_buttons a:hover {
    color: #000000 !important;
}

@font-face {
    font-family: 'OutOfTheSandbox';
    src: url('//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/OutOfTheSandbox.eot?15202599147920040163');
    src: url('//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/OutOfTheSandbox.eot?%23iefix&15202599147920040163') format('embedded-opentype'),
    url('//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/OutOfTheSandbox.woff?15202599147920040163') format('woff'),
    url('//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/OutOfTheSandbox.ttf?15202599147920040163') format('truetype'),
    url('//cdn.shopify.com/s/files/1/0255/4223/t/2/assets/OutOfTheSandbox.svg%23OutOfTheSandbox?15202599147920040163') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'OutOfTheSandbox';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-menu,
.nav a.icon-cart, #header a.icon-cart, .nav a.icon-user, .nav a.icon-search,
.nav a.icon-pinterest, a.icon-pinterest, .nav a.icon-vimeo, .nav a.icon-tumblr,
.nav a.icon-google-plus, .nav a.icon-facebook, a.icon-facebook, .nav a.icon-instagram,
.nav a.icon-twitter, .icon-twitter, .icon-feed, .nav a.icon-linkedin,
.nav a.icon-vimeo-2, .nav a.icon-flickr, .icon-phone, .nav a.icon-mail,
a.icon-mail, .icon-mail, .icon-plus, .icon-checkmark, .nav a.icon-youtube,
.icon-facebook, .icon-pinterest, .icon-tumblr, .icon-instagram {
    font-family: 'OutOfTheSandbox';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

.icon-menu:before {
    content: "\e000";
}

.icon-cart:before {
    content: "\e001";
}

.icon-user:before {
    content: "\e002";
}

.icon-search:before {
    content: "\e003";
}

.icon-pinterest:before {
    content: "\e004";
}

.icon-vimeo:before {
    content: "\e008";
}

.icon-tumblr:before {
    content: "\e009";
}

.icon-google-plus:before {
    content: "\e00b";
}

.icon-facebook:before {
    content: "\e007";
}

.icon-instagram:before {
    content: "\e006";
}

.icon-twitter:before {
    content: "\e00c";
}

.icon-feed:before {
    content: "\e005";
}

.icon-linkedin:before {
    content: "\e00d";
}

.icon-vimeo-2:before {
    content: "\e00e";
}

.icon-flickr:before {
    content: "\e00f";
}

.icon-phone:before {
    content: "\e00a";
}

.icon-mail:before {
    content: "\e010";
}

.icon-plus:before {
    content: "\e011";
}

.icon-checkmark:before {
    content: "\e012";
}

.icon-youtube:before {
    content: "\e013";
}

/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file.
    Upload your font files to Assets and then
    copy your FontName into code below and remove
    comment brackets */

@font-face {
    font-family: 'harabarahanditalic';
    src: url('HarabaraHand-webfont.eot');
    src: url('HarabaraHand-webfont.eot?#iefix') format('embedded-opentype'),
    url('HarabaraHand-webfont.woff') format('woff'),
    url('HarabaraHand-webfont.ttf') format('truetype'),
    url('HarabaraHand-webfont.svg#harabarahanditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ADDED by JL for Responsive video */

.embed-container {
    position: relative;
    margin-top: 10px;
    padding-bottom: 49%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border: 1px solid #DED6C8;
}

.embed-container iframe, 
.embed-container object, 
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% 
}


