body {
}

#navbar {
	position: absolute;
	left: 50%;
	margin-left: -254px;
}

#header {
	position: fixed;
	top: 20px;
	height: 250px;
	background-image: url("http://i1345.photobucket.com/albums/p668/samanthajaybee/fetchc_zps731t87st.png");
	border: #053E25 solid 6px;
	/*+placement: ;*/
	position: relative;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:fixed;
}

ul {
	list-style-type: none;
	position: fixed;
	margin: -3px;
}

li {
	display: inline;
	padding: 25px 20px 16px;
	border: 1.2px solid rgba(0, 0, 0, 0.718);
	font-family: Arial Narrow, sans-serif;
	font-size: 15px;
	color: #796868;
	border-radius: 12px;
	background-color: #FFFFFF;
	box-shadow: -2px 2px 5px 0px #5D5050;
	margin-left: 4px;
	/*+placement: -67px 1px;*/
	position: relative;
	left: -67px;
	top: 1px;
}

#footer {
	clear: both;
	position: relative;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #84BD0F;
	opacity: 0.83;
}

.shadow {
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 5px 6px 2px #504C4C;
}

#logo1 {
	height: 10%;
	width: 10%;
	display: inline-block;
	/*+placement: 300px -4px;*/
	position: relative;
	left: 300px;
	top: -4px;
}

#logo2 {
	height: 10%;
	width: 10%;
	display: inline-block;
	/*+placement: 288px -4px;*/
	position: relative;
	left: 288px;
	top: -4px;
}

#logo3 {
	height: 8%;
	width: 8%;
	display: inline-block;
	/*+placement: 283px -12px;*/
	position: relative;
	left: 283px;
	top: -12px;
}

.button {
	left: 0%;
	top: -16%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}
