.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

#header {
    clear: both;
    background-color: white;
    height: 54px;
    border-bottom: 5px solid #053E25;
}

#timlogo {
	text-align: center;
}

#timlogo img {
	text-align: center;
	height: 20%;
	width: 20%;
	margin-top: 30px;
	margin-bottom: 65px;
}

h4 {
	text-align: center;
	font-weight: bold;
	font-family: Arial;
	font-size: 32px;
	margin-bottom: 20px;
}

.thumbnail #sand_meals {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail #beverages {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail #salads {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail #desserts_sides {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: rgba(148, 149, 141, 1);
	border: 2px solid rgba(148, 149, 141, 1);
	overflow: hidden;
}

.thumbnail h2 {
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.sub-footer {
	margin-top: 2.5em;
	margin-left: 5px;
	margin-right: 5px;
	border-top: solid 1px #ede9dd;
	background-color: rgba(206,229,159, 0.83);
}

#news {
	padding-left: 25px;
}

#learn {
	padding-left: 25px;
}

.sub-footer.container {
	margin: 0 auto;
	padding: 20px 0;
}

.column, .columns {
	float: left;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#footer {
    clear: both;
    background-color: rgba(132,189,15, 0.83);
    height: 75px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
}

#instagram {
    height: 63px;
    width: 63px;
    margin-right: 20px;
}

#facebook {
    height: 76px;
    width: 76px;
}

#twitter {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.center {
    text-align: center;
}

body {
    background-image: url('http://i1345.photobucket.com/albums/p668/samanthajaybee/paperp_zpsaj2w76cc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

