$topBar: 64px

#mapMount
  position: absolute
  z-index: -1
  bottom: 0px
  left: 0px
  right: 0px
  top: 0px

body
  padding-top: 20px

span
  height: 300px

.instruction
  background-color: white
  color: black
  min-width: 200px 
  border-radius: 0px

.instruction-header
  @extend .instruction
  text-align: center
  color: #0091ea
  padding: 0.5em

.plain
  background-color: transparent
  box-shadow: none
  -webkit-box-shadow: none
  height: 100%
  &:hover
    background-color: transparent
    box-shadow: none

div
  box-shadow: none

nav
  margin-top: -20px
  height:80px
  line-height:80px

.content
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  padding: 1em
  background-color: white

.center
  text-align: center

.abs-cent-out
  position: absolute
  left: 5%
  bottom: -200px
  width: 90% 
  max-height: 200px

.abs-cent-in
  position: relative
  margin: 1em auto;
  overflow: auto
  text-align: center

body
  background-color: #ee6e73

.login-sub
  width: 400px
  margin: 45% auto
  text-align: center

.login-sub input 
  color: white
  border-bottom: 1px solid #ccc
  max-width: 250px

.login-btn
  margin: 1em auto

.bold 
  font-weight: bold

.omni-yellow
  background-color: #f5ab35

.delivery-button
  margin: 1em auto

.item-detail
  margin: 2em

.ordrow1
  background-color: #eeffff
  padding: 1em

.ordrow2
  padding: 1em
  background-color: #eee

.done
  margin-top: 1em
