{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static "css/faq.css" %}">{% endblock %}

{% block title %} <title>Omninoms | About</title> {% endblock %}
    {% block content %}
      <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12 questions">
                      <h3>About Us</h3>
                      <p class='center'>We're a startup!<br>
                        <br><br><br><br><br><br><br><br><br><br></p>
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}





         
