{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/checkout.css" %}">
<link rel="stylesheet" href="{% static "css/modal.css" %}">
{% endblock %}


{% block content %}
<div class='checkout'>
  <h1 class='center'>Your Order</h1>
  <div class='explain'>Please review your order below before submitting it.
    Once the order has been placed it CAN NOT BE CHANGED OR CANCELED - so please
    make sure everything is the way you want it :)
    <br/>
    <br/>
    You pay the driver at the door using cash or credit. 
  </div>
  <div >
    <div class='checkout-row row third'>
      <div class='col-md-3 center'>
        Item
      </div>
      <div class='col-md-1 center'>
        Qty
      </div>
      <div class='col-md-2 center'>
        Sub Total
      </div>
      <div class='col-md-4 center'>
        Special Requests
      </div>
    </div>
    {% for item, combo, size, qty, subtotal, request in items %}
    <div id='row-{{ forloop.counter0 }}' class='checkout-row {% cycle 'row first' 'row second' %}'>
      <div class='col-md-3 center'>
        {{ item.name }}
        {% if combo %}
          {{combo.name}}
        {% endif %}
        {% if size %}
          {{size.name}}
        {% endif %}
      </div>
      <div class='col-md-1 center'>
        x{{ qty }}
      </div>
      <div class='col-md-2 center'>
        ${{ subtotal }}
      </div>
      <div class='col-md-4'>
        {{ request }}
      </div>
      <div class='col-md-1 center'>
        <a onClick='deleteFromTray({{ forloop.counter0 }}, {{ subtotal }})' class='remove btn'>X</a>
      </div>
    </div>
    {% endfor %}

    <div class='row third space checkout-row'>
      <div class='col-md-4 center'>
        Delivery Fee
      </div>
      <div class='col-md-4'> </div>
      <div class='col-md-4 center'>
        ${{ delivery_fee }}
      </div>
    </div>

    <div class='row first checkout-row'>
      <div class='col-md-4 center'>
        HST 13%
      </div>
      <div class='col-md-4'> </div>
      <div class='col-md-4 center' id="taxes" >
        ${{ taxes }}
      </div>
    </div>

    <div class='row third checkout-row'>
      <div class='col-md-4 center'>
        Total
      </div>
      <div class='col-md-4'> </div>
      <div class='col-md-4 center' id='grand-total' >
        ${{ grand_total }}
      </div>
    </div>
  </div>

  <form action='/pay/' method='POST'>
    {% csrf_token %}
  <div class='location'>
    <h2>Choose a delivery location: </h2>
    <select name='location' id="location">
      {% for location in locations %}
      <option value={{location.id}}>{{ location.address }}
      {% if location.instructions != "" %} - {{location.instructions}}
      {% endif %} 
      </option>
      {% endfor %}
    </select>
    <br/>
    <br/>
    <a class='btn' href='#openModal'>+ Add New Location</a>
    <div class='modalDialog' id="openModal" onClick='window.location="#close"'>
      <div id='add-location' class='innerModal add-location'>
        <h3 class='prompt'>New Location</h3>
        <div class='left inputs'>
          <span class='prompt'>Address:</span>
          <input id='address' type='text'>
          <br/>
          <br/>
          <span class='prompt'>City:</span>
          <input id='city' type='text'>
          <br/>
          <br/>
          <span class='prompt'>Delivery Instructions (Optional):</span>
          <br/>
          <br/>
          <textarea id='instructions' cols="50" rows="5" placeholder="Ex: An apartment number, which door to use, how to find you at a campus or facility, etc."></textarea>
          <div class='center'>
            <a onClick='addLocation()' class='btn omni-yellow save omni-button'>Save Location</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='credit'>
    We only accept cash and credit card payments at the time of delivery - NO DEBIT!
    <br/>
    <br/>
    Check the box stating you understand and will pay using cash or credit.
    <br/>
    <br/>
    <div class='center-div'>
      <input
        type="checkbox" 
        required='required'
        />
    </div>
  </div>
  <div 'pay-wrap'>
    <input type='submit' class='btn paynow omni-button' value='PLACE ORDER'/>
  </div>
  </form>

</div>
<script type='text/javascript'>
      var total_tax = {{ taxes }}
      var grand_total = {{ grand_total }}
      var deleted = [];
      function deleteFromTray(index, subtotal) {
        deleted.push(index)

        actual = index;

        for(var i = 0; i < deleted.length; i++) {
          if(deleted[i] < index) {
            actual--;
          }
        }
        $.post('/tray/', {
          delete: true,
          index: actual,
          csrfmiddlewaretoken:'{{ csrf_token }}'
        })
          .done(function(resp) {
            console.log(resp);
          });

        $('#row-' + index).remove();
        var tax = subtotal * 0.13;
        total_tax -= tax;
        grand_total -= (subtotal + tax);
        $('#taxes').html('$' + Math.round(total_tax * 100) / 100);
        $('#grand-total').html('$' + Math.round(grand_total * 100) / 100);
        $('.tray-total').css('visibility', 'hidden');
      }

      function addLocation() {
        var addr = $("#address").val()
        var city = $("#city").val()
        var inst = $("#instructions").val()

        $.post('/add_location/', {
            address: addr,
            city: city,
            instructions: inst,
            csrfmiddlewaretoken: '{{csrf_token}}'
        })
        .done(function(resp) {
          var resp = JSON.parse(resp);

          if(resp.okay) {
            $("#location").append($('<option>', {
              selected: true,
              value: resp.id,
              text: addr + " - " + inst
            }));
          }
          else {
            alert(resp.detail);
          }
        });
      }

      $(".innerModal").click(function(e) {
        e.stopPropagation();
      });


</script>
{% endblock %}
