
{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/signup.css" %}">
<link rel="stylesheet" href="{% static "css/faq.css" %}">
<link rel="stylesheet" href="{% static "css/contact.css" %}">
{% endblock %}

{% block title %} <title>Omninoms | Login</title> {% endblock %}



    {% block content %}
        <div class="signform">
        <h3>Contact Us</h5>
        {% if error %}
        <div style='text-align:center; margin: 2em 0 0 0; font-size:100%;'><p>{{ error }}</p></div>
        {% endif %}

          <form action="{% url 'contact' %}" method="POST" >
                {% csrf_token %}
                <textarea name="message" required="required" placeholder="Whether you have a problem, question, or just want to say thank you, send us a message and we'll get back to you ASAP!"></textarea>
                <span class='prompt'>Name</span><br>
                    <input type="text" required="required" name="name">
                    <br><br>
                <span class='prompt'>Email</span><br>
                    <input type="text" required="required" name="email">
                    <br><br>
                    <input class='submit' type="submit" value="SEND MESSAGE"/> 
            </form>       
        </div>
    
    {% endblock %}







