{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static "css/faq.css" %}">{% endblock %}

{% block title %} <title>Omninoms | FAQ</title> {% endblock %}

    {% block content %}
      <div class="about-us">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                        <div class="questions">

                        <h3>Frequently Asked Questions</h3>
                    
                        <h5>What are your hours?</h5>
                        <p>We're open from 4 pm until Midnight every day.</p><br>

                        <h5>What kind of restaurants do you deliver from?</h5>
                        <p>Currently we deliver from a select number of fast-food franchise restaurants.</p><br>
 
                        <h5>Do you take debit/credit?</h5>
                        <p>We currently accept cash and all major credit cards and are working to include debit in the near future.</p><br>
 
                        <h5>What do I do if my order is wrong?</h5>
                        <p>If the restaurant misses an item or makes a mistake, we will always try to fix the problem to satisfy you to the best of our ability.</p><br>
 
                        <h5>Can I order from more than one restaurant at once?</h5>
                        <p>Of course; however, we charge a flat rate fee for deliveries from each individual restaurant. If you were to order from Tim Hortons and McDonald’s, you would be charged twice for delivery.</p><br>
 
                        <h5>Do you accept tips?</h5>
                        <p>Our drivers do everything they can to ensure your meal gets to you warm and on time and will openly accept tips :)</p><br>
 
                        <h5>Do you deliver to apartments?</h5>
                        <p>Sure do. Just remember to provide us with access information when your submit your order.</p><br>
 
                        <h5>Do the prices listed on the menus include taxes?</h5>
                        <p>No, taxes are additionally added to our listed menu prices at the time of checkout.</p><br>
 
<!--
                        <h5>How can I become a driver?</h5>
                        <p>We are always looking for new drivers! If you meet our requirements, check out the “Drivers” link at the bottom of the page.</p><br>
-->
 
                        <h5>Do you deliver to anyone?</h5>
                        <p>Currently we are only servicing Windsor and Tecumseh but plan to expand to other locations soon!</p> <br>
                    
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endblock %}
