{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static "css/faq.css" %}">{% endblock %}

{% block title %} <title>Omninoms | Hours</title> {% endblock %}
    {% block content %}
      <div class="about-us">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 center">
                        <div class="questions center">
                    
                      <h3>Hours</h3>
                      <p class='center'>We're open every day between X and Y.</p>
                        </div>
                  </div>
              </div>
          </div>
      </div>
    {% endblock %}
