{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static "css/main.css" %}">{% endblock %}

{% block title %} <title>Omninoms | Home</title> {% endblock %}

{% block content %}
<div class='jumbo'>
<div class='j-filt'>
  <div class='row intro center'>
    <div class='col-md-4'>
      SELECT<br>CHAIN<br>
      <div class='sub'>
      Choose from popular franchise restaurants. 
      </div>
    </div>
    <div class='col-md-4'>
      PLACE<br>ORDER<br>
      <div class='sub'>
      Add meal items to your cart and checkout online.
      </div>
    </div>
    <div class='col-md-4'>
      FOOD<br>APPEARS</br>
      <div class='sub'>
      We send a fast and friendly driver to deliver your food. 
      </div>

    </div>
  </div>
</div>
</div>

<div class='section second'>
  <p class='cta'>CHOOSE A FRANCHISE</p>
</div>

<div class='center'>
  <a href='/mcdonalds'><img id='mcdonalds' src='{% static 'img/mcdonalds.png' %}'/></a>
</div>

<div class='section'>
  <p class='cta'>HAPPY CUSTOMERS :)</p>
</div>
<div class='testimonials'>
  <div class='testimonial-block'>
    <p class='testimonial'>This page is real! Seriously, fast delivery and order was perfect!!
    <br/>
    <span class='sig'>- Christian</span>
    </p>
    <p class='testimonial'>
    Arrived in just 20 minutes, everything was still hot, even the fries!
    <br/>
    <span class='sig'>- Andrew</span>
    </p>
    <p class='testimonial'>Im amazed
    <br/>
    <span class='sig'>- Mathew</span>
    </p>
  </div>    

</div>

{% endblock %}
