
{% load staticfiles %}
{% for item, combos, sizes in items %}
<div class="col-md-4">
<a href="#openModal{{ item.id }}">
  <div class="thumbnail">
    <figure><figcaption>{{ item.name }} - ${{ item.base_price }}</figcaption></figure>
  </div>
</a>
</div>

<div onClick="window.location='#close';combo_id = undefined;" id="openModal{{ item.id }}" class="modalDialog">
  <div class="innerModal">
    <p class='item-name'>{{ item.name }}</p>
    <img src="{{ item.img_url }}">

    <input type="hidden" id="item-price-{{item.id}}" value="{{item.base_price}}"/>
    <div class="prod_info">
    </div>
    {% if combos %} 
      <div class='combo'>
        Meal Options
        <br/>
        <select onChange='showAddons({{item.id}}, this.selectedIndex)'>
          {% for combo, add_ons in combos %}
          <option value={{combo.id}}>{{combo.name}}</option>
          {% endfor %}
        </select>
          {% for combo, add_ons in combos %}
          <input type="hidden" id="combo-price-{{item.id}}-{{forloop.counter0}}" value="{{combo.price_change}}"/>
          <input type="hidden" id="combo-id-{{item.id}}-{{forloop.counter0}}" value="{{combo.id}}"/>
          {% endfor %}

        {% for combo, add_ons in combos %} 
          {% if add_ons|length != 0 %}
          <div id='item-{{ item.id }}-combo-{{forloop.counter0}}' style='overflow: hidden; height: 0px'>
            <select onChange='selectVariant({{combo.id}}, this.selectedIndex)'>
            {% for add_on, variants in add_ons %}
              {% for variant in variants %}
              <option id='item-{{item.id}}-variant-{{forloop.counter0}}'>{{variant.name}}</option>
              {% endfor %}
            {% endfor %}
            </select>
              {% for add_on, variants in add_ons %}
                {% for variant in variants %}
                <input 
                  type="hidden"
                  id='variant-id-{{combo.id}}-{{forloop.counter0}}'
                  value="{{variant.id}}"/>
                <input 
                  type="hidden"
                  id='variant-price-{{combo.id}}-{{forloop.counter0}}'
                  value="{{variant.price_change}}"/>
                {% endfor %}
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if sizes %}
    Size
      <select onChange='updateSize({{ item.id }}, this.selectedIndex)'>
        {% for size in sizes %}
          <option>{{size.name}}</option>
        {% endfor %}
        {% for size in sizes %}
        <input type="hidden" id="item-size-price-{{item.id}}-{{forloop.counter0}}" value="{{size.price_change}}"/>
        <input type="hidden" id="item-size-id-{{item.id}}-{{forloop.counter0}}" value="{{size.id}}"/>
        {% endfor %}

      </select>
    {% endif %}
      <div class='quantity'>
        Quantity
        <select onChange='updatePrice("{{ item.id }}",{{ item.base_price }})' id='qty-{{ item.id }}'>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select> 
      </div>
      <div class="requests">
        <p>Special Requests</p>
        <textarea id='request-{{ item.id }}' cols="50" rows="4" placeholder="Put any requests here such as flavours or substitutions. Please note that special requests may incur extra charges that will not show up at time of checkout."></textarea>
      </div>
      <input type="hidden" id="item-total-{{item.id}}" value="{{item.base_price}}"/>
      <button onClick='addTray({{ item.id }}, {{ item.base_price }})' class="btn tray">Add to Tray - <span id="price-{{ item.id }}">${{ item.base_price }}</button>
      <a onClick='close();' title="Close" class="close">X</a>
    </div>
</div>
{% endfor %}


