{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static "css/signup.css" %}">{% endblock %}

{% block title %} <title>Omninoms | Login</title> {% endblock %}


    {% block jumbotron %}
    <div class="jumbotron">
    </div> 
    {% endblock %}

    {% block content %}
        <div class="signform">
        {% if error %}
        <div style='text-align:center; margin: 2em 0 0 0; font-size:100%;'><p>{{ error }}</p></div>
        {% endif %}

          <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <span class='prompt'>Email</span><br>
                    <input type="text" required="required" name="username">
                    <br><br>
                <span class='prompt'>Password</span><br>
                    <input type="password" required="required" name="password">
                    <br><br>
                    <input type="hidden" name="redirect" value="{{ redirect }}">
                    <input class='submit' type="submit" value="LOGIN"/> 
            <a class='link btn' href='/signup'>New Customer</a>
            <a class='link btn' href='/password_reset/'>Reset Password</a>
            </form>       
        </div>
    
    {% endblock %}







