{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static "css/mdhome.css" %}">{% endblock %}

{% block title %} <title>Omninoms | McDonald's Home</title> {% endblock %}

    {% block content %}
    <div id="mclogo">
  <div class="col-md-12">
    <a href="mcdonalds"><img src="http://cszboston.com/wp-content/uploads/2015/01/McDonalds.png"></a>
    </div>
    </div>     

    <div class="neighborhood-guides">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a onClick="get_menu('mcds', 'entree')"><img id="sand_meals" src="http://static.wixstatic.com/media/f7d185_5297478f9de24e0b84b1a6fe5d44d224.jpg_srz_p_188_188_75_22_0.50_1.20_0.00_jpg_srz"></a>
                    <h2>Sandwiches &amp; Wraps</h2>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <a onClick="get_menu('mcds', 'beverage')"><img id="beverages" src="http://static.wixstatic.com/media/f7d185_0eaefda4e3af421e8dc373ce2737068c.png_srz_p_188_188_75_22_0.50_1.20_0.00_png_srz"></a>
                    <h2>Beverages</h2>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <a onClick="get_menu('mcds', 'side')"><img id="salads" src="http://static.wixstatic.com/media/f7d185_6ebe0dfb1da749bca31cc428fd7d07f8.jpg_srz_p_188_188_75_22_0.50_1.20_0.00_jpg_srz"></a>
                    <h2>Salads</h2>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <a onClick="get_menu('mcds', 'desert')"><img id="desserts_sides" src="http://static.wixstatic.com/media/f7d185_02af42023eb947a5a78dbb9d78240818.jpg_srz_p_188_188_75_22_0.50_1.20_0.00_jpg_srz"></a>
                    <h2>Desserts &amp; Sides</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div id='menu' class='row'>
      {% include "items.html" %}
    </div>

    <script type='text/javascript'>
      function round(num) {
        return Math.round(num * 100) / 100
      }

      var loaded = {};
      function inner_click() {
        $(".innerModal").click(function(e) {
          e.stopPropagation();
        });
      }
      function get_menu(restaurant, category) {
        if(category in loaded) {
          document.getElementById('menu').innerHTML = loaded[category];
          inner_click();
        }
        else {
          $.ajax('/menu/' + restaurant + '/' + category + '/')
           .done(function(data) {
            loaded[category] = data;
            document.getElementById('menu').innerHTML = data;
            inner_click();
           })
        }
      }

      function getQty(id) {
        return $("#qty-" + id).val();
      } 

      function setQty(id, val) {
        return $("#qty-" + id).val(val);
      } 

      function updatePrice(id, base_price) {
        var qty = getQty(id);
        var price = Number(qty) * Number($("#item-total-" + id).val());
        var price_str = dollarfy(price);

        $("#price-" + id).html("$" + price_str);
      }

      function addTray(id, base_price) {
        var qty = getQty(id);
        var total = Number($("#item-total-"+id).val()) * qty; 
        var val = $(".tray-total").val() + total;
        var request = $("#request-" + id).val();
        $(".tray-total").val(val);
        $(".tray-total").html("$" + val);
        $(".tray-total").css("visibility", "visible");
        $.post('/tray/', {
          id: id,
          qty: qty,
          combo: combo_id,
          size: sizes[id],
          total: val,
          total_str: dollarfy(val),
          request: request, 
          csrfmiddlewaretoken:'{{ csrf_token }}' })
          .done(function(resp) {
            console.log(resp);
          });

        setQty(id, 1);
        close();
      }

    function close() {
       combo_id = undefined;
       window.location="#close";
       console.log('ahi');
    } 

var last_combo;
var combo_id;
var last_variant;
var variant_id = {};
var sizes = {};
var size_id;
function showAddons(iid, cid) {
  var base = Number($("#item-price-" + iid).val());
  var combo = $("#item-" + iid + "-combo-" + cid);

  if(last_combo !== undefined) {
    last_combo.css('height', '0px');
  }

  last_combo = combo;
  if(cid !== 0) {
    combo.css("height", "30px");
  }

  var combo_price = Number($('#combo-price-' + iid + '-' + cid).val());
  $("#price-" + iid).html("$" + Math.round((base + combo_price) * 100) / 100);
  $("#item-total-" + iid).val(Math.round((base + combo_price) * 100) / 100);
  combo_id = $("#combo-id-" + iid + "-" + cid).val();
}

function selectVariant(cid, vid) {
  variant_id[cid] = $("#variant-" + cid + "-" + vid).val();
}

  function updateSize(iid, sid) {
    var base = Number($("#item-price-" + iid).val());
    var size_price = Number($("#item-size-price-" + iid + "-" + sid).val());
    $("#price-" + iid).html("$" + Math.round((base + size_price) * 100) / 100);
    $("#item-total-" + iid).val(Math.round((base + size_price) * 100) / 100);
    sizes[iid] = $("#item-size-id-" + iid + "-" + sid).val()
  }

    </script>
    {% endblock %}
