<div id="openModal" class="modalDialog">
  <div>
      <h2>Bacon Ranch Junior Chicken</h2>
      <p><img src="http://static.wixstatic.com/media/f7d185_474efc81f4ff4717840b443c319fb20d.jpg_srb_p_207_178_75_22_0.50_1.20_0.00_jpg_srb"></p>
    <div class="prod_info">
        <h1> CA $2.19</h1>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              Action <span class="caret"></span>
                </button>
                  <ul class="dropdown-menu" role="menu" aria-expanded="false">
                        <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                          </ul>
    </div>

    <div class="btn-group">                                       
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Meals
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-expanded="false">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fountain Drink &amp; Fries</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Upsize Fountain Drink &amp; Fries</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">No meal</a></li>
      </ul>
    </div>

      <div class="requests">
        <h4>Special Requests</h4>
        <textarea cols="50" rows="5">Please note that special requests may incur extra charges that will not show up at time of checkout.
        </textarea>
      </div>

      <button class="tray" type="button">Add to Tray</button>
      <a href="#close" title="Close" class="close">X</a>
    </div>
</div>
