{% load staticfiles %}

<!DOCTYPE html>
<html>

  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <meta property="og:image" content="https://omninoms.com/static/img/fb-img.png"/>
    
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/modal.css" %}">

    {% block css %}{% endblock %}
    
    {% block title %}  {% endblock %}

    <script type='text/javascript'>
      function decimalPlaces(num) {
        var match = (''+num).match(/(?:\.(\d+))?(?:[eE]([+-]?\d+))?$/);
        if (!match) { return 0; }

        return Math.max(
          0,
          // Number of digits right of decimal point.
          (match[1] ? match[1].length : 0)
          // Adjust for scientific notation.
          - (match[2] ? +match[2] : 0));
      }

      function dollarfy(price) {
        var price_str = String(price);

        if(decimalPlaces(price) == 0) {
          price_str += ".00";
        }
        else if (decimalPlaces(price) == 1) { 
          price_str += "0"
        }
        else {
          price_str = price_str.slice(0, price_str.length + 2 - decimalPlaces(price));
        }
        return price_str;
      }
    </script>

  </head>

  <body>
    <div class='wrap'>
      <div class='collapse-logo navbar-toggle' data-toggle="collapse" data-target="#mynavabar">
        <img class='collapse-logo' src='{% static 'img/space_burger.png' %}'></img>
      </div>
    <div class="navbar nav" id="header">
      <div type="button" class="collapse-nav navbar-toggle" data-toggle="collapse" data-target="#mynavabar">
          <li><a href="/">Home</a></li>
          <li><a href="/faq">FAQ</a></li>
          <br/>
          <li><a href="/contact">Contact</a></li>
          <br/>
          <li><a href="/signup">Sign Up</a></li>
          <br/>
          {% if logged_in %}
            <li><a href='/logout'>Log Out</a></li>
          {% else %}             
            <li><a href="/login">Log In</a></li>
          {% endif %}             
          <br/>
            <li><a href="/checkout">Checkout</a></li>
          {% if tray_total != False %}
            <li class='tray-total' style='visibility: visible;' value={{ tray_total }}>${{tray_total_str}}</li>
          {% else %}
            <li class='tray-total'></li>
          {% endif %}
      </div>
      <div id="mynavbar" class="collapse navbar-collapse container center">
        <ul class="pull-left">
          <li><a href="/">Home</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
        <div class='logo'>
           <div class='logo-fill-right'></div>
           <div class='logo-fill-left'></div>
           <img src='{% static 'img/space_burger.png' %}'></img>
           <div class='logo-left'></div>
           <div class='logo-right'></div>
        </div>

        <ul class="pull-right">
          {% if logged_in %}
            <li><a href='/logout'>Log Out</a></li>
          {% else %}             
            <li><a href="/login">Log In</a></li>
          {% endif %}             
            <li><a href="/checkout">Checkout</a></li>
          {% if tray_total %}
          <a href='/checkout'>
            <li class='tray-total' style='visibility: visible;' value={{ tray_total }}>${{tray_total_str}}</li>
          </a>
          {% else %}
          <a href='/checkout'>
            <li class='tray-total'></li>
          </a>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class='content-block'>
    {% block content %}
    {% endblock %}
    </div>

    <div class='push'></div>
  </div>
  <div id="footer">
    	<div class="center">
<!--
        <a href="https://instagram.com/questionableintent/" target="_blank"><img id="instagram" src="{% static 'img/instagram.png' %}"></a>
-->
        <a href="https://www.facebook.com/pages/OmniNoms/1638544879717064" target="_blank"><img id="facebook" src="{% static 'img/fb.png' %}"></a>
        <a href="https://twitter.com/omni_noms" target="_blank"><img id="twitter" src="{% static 'img/twitter.png' %}"></a>
	    </div>
	</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65298462-1', 'auto');
  ga('send', 'pageview');

</script> 
  </body>
</html>
