{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static "css/login.css" %}">{% endblock %}

{% block title %} <title>Omninoms | Login</title> {% endblock %}


    {% block jumbotron %}
    <div class="jumbotron">
    </div> 
    {% endblock %}

    {% block content %}

        <div class="signform">
            <form>
                Username:<br>
                    <input type="text" required="required" name="username">
                    <br><br>
                Password:<br>
                    <input type="text" required="required" name="password">
                    <br><br>
                <p class="login button"> 
                    <input type="submit" value="Login"/> 
                </p>
            </form>       
        </div>
    
    {% endblock %}







