{% extends "mybase.html" %}

{% load staticfiles %}
{% block css %}<link rel="stylesheet" href="{% static "css/checkout.css" %}">{% endblock %} 
{% block content %}
<div class='checkout'>
  <h1 class='center'>Open Orders</h1>

  <div class='row third'>
    <div class='col-md-3'>
      ID
    </div>
    <div class='col-md-3'>
      Items
    </div>
    <div class='col-md-3'>
      Quantity
    </div>
    <div class='col-md-3'>
      Requests
    </div>
  </div>

  {% for id, items in orders %}
    {% for item, quantity, request in items %}
    <div class='row {% cycle 'first' 'second' %}'>
    {% if forloop.first %}
        <div class='col-md-3'>{{id}}</div>
    {% else %}
        <div class='col-md-3'></div>
    {% endif %}
        <div class='col-md-3'>
          {{ item.name }}
        </div>
        <div class='col-md-3'>
          {{ quantity }}
        </div>
        <div class='col-md-3'>
          {{ request }}
        </div>
    </div>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
