{% extends "mybase.html" %}

{% block content %}
  <div style='text-align:center; max-width: 80%; margin: 0 auto; padding-top: 1em;'>
    <h1>Thank you!</h1>
    <p>We're dispatching a driver to bring your food ASAP :)</p>
    <p>For any problems or inquiries, please call 519-784-0289.</p>
  </div>
{% endblock %}

