{% extends "mybase.html" %}

{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static "css/signup.css" %}">{% endblock %}

{% block title %} <title>Omninoms | Sign Up</title> {% endblock %}



    {% block content %}

        <div class="signform">
          <form action='/signup/{{ code }}' method='POST'>
              {% csrf_token %}
              <span class='prompt'>First name</span><br>
                    <input 
                      type="text"
                      required="required" 
                      name="firstname"
                      placeholder="eg. Hermione, Ron, Hedwig, etc."
                      title="If your name is actually Hedwig, that's pretty awesome.">
                    <br><br>
                    <span class='prompt'>Last name</span><br>
                    <input
                      type="text"
                      required="required"
                      name="lastname"
                      placeholder="eg. Lennon, McCartney, Harrison, Starr"
                      title="Hey Jude, don't get mad, we'll bring you some food, and make it better.">
                    <br><br>
                    <span class='prompt'>Email</span><br>
                    <input
                      type="text"
                      required="required"
                      name="email"
                      placeholder="eg. im.starving@gmail.com"
                      title="So you can reset your password when it gets forgotten about.">
                    <br><br>
                     <span class='prompt'>Phone</span><br>
                    <input
                      type="text"
                      required="required"
                      name="phonenumber"
                      placeholder="(xxx) xxx-xxxx"
                      title="Just in case we have to call or text about your order.">
                    <br><br>
                      <span class='prompt'>Delivery Address</span><br>
                    <input
                      type="text"
                      required="required"
                      name="address"
                      placeholder="eg. 37 Candy Cane Drive"
                      title="So we can find and feed you!">
                    <br><br>
                      <span class='prompt'>City</span><br>
                    <input
                      type="text"
                      required="required"
                      name="city"
                      placeholder="eg. Santa's Workshop"
                      title="So we can find and feed you!">
                    <br><br>
                      <span class='prompt'>Province</span><br>
                    <input
                      type="text"
                      required="required"
                      name="province"
                      placeholder="eg. North Pole"
                      title="If Santa did have a country, we're pretty sure the North Pole would be a province...">
                    <br><br>
                        <span class='prompt'>Password</span><br>
                    <input
                      type="password"
                      required="required"
                      name="password"
                      title="So no one else can order Mc Donalds to your house.">
                    <br><br>
                         <span class='prompt'>Password</span><br>
                    <input
                      type="password"
                      required="required"
                      name="password2"
                      title="Were you expecting an amusing tooltip?">
                    <br><br>
                    <input class='submit' type="submit" value="Sign Up"/> 
            </form>       
        </div>
    
    {% endblock %}







